<div class="row flightList">
    <div class="col-lg-3">
        <div class="search-filter">
            <div class="filter-head">
                <div class="tf-left">
                    <i class="fa-solid fa-filter"></i>Filters
                </div>
                <button mat-button class="clear-btn">Clear All</button>
            </div>
            <div class="filterTab">
                <div class="tabItem" [ngClass]="{'active': activeTab === 'Onward'}" (click)="onSelectTab('Onward')">Onward</div>
                <div class="tabItem" [ngClass]="{'active': activeTab === 'Return'}" (click)="onSelectTab('Return')">Return</div>
            </div>
            <div class="filter-row">
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Applied Filters</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div>
                        <div class="applied">
                            <span>NON STOP</span>
                            <div class="tabClose">
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="applied">
                            <i class="material-icons plane">flight_takeoff</i>
                            <span>MORNING DEPARTURES</span>
                            <div class="tabClose">
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Popular Filters</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="checkbox-container airline">
                        <mat-checkbox class="customCheckbox">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Cheapest</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Fastest</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Best value</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Refundable</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Non-Refundable</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline">
                            <div class="d-flex justify-content-between ml-2">
                                <span>Layover Via Point</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox airline"> 
                            <div class="d-flex justify-content-between ml-2">
                                <span>Aircraft Airbus, Boing</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <button mat-button class="clear-btn" id="themeDark"><i class="material-icons plusIcon">
                            add
                        </i>Show More</button>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Stops</span>
                        <button mat-button class="clear-btn">Clear</button>
                        <!-- <div class="checkbox-container">
                            <mat-checkbox class="customCheckbox">Non Stop</mat-checkbox>
                            <mat-checkbox class="customCheckbox">1 Stop</mat-checkbox>
                            <mat-checkbox class="customCheckbox">2+ Stops</mat-checkbox> -->
                    </div>
                    <div class="flight-timeing">
                        <div class="time-item stop" [ngClass]="{'active': item?.active}" 
                        *ngFor="let item of stop" (click)="onSelect(item, 'stop')">
                            <div class="d-flex flex-column">
                                <label>{{item.title}}</label>
                                <span>({{item.type}})</span>
                                <span>{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Departure Time</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="flight-timeing">
                        <div class="time-item" [ngClass]="{'active': item?.active}" 
                        *ngFor="let item of timingList" (click)="onSelect(item, 'Departure')">
                            <img [src]="item?.active ? item?.img1 : item.img">
                            <div class="d-flex flex-column">
                                <label>{{item.title}}</label>
                                <span>({{item.type}})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Arrival Time</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="flight-timeing">
                        <div class="time-item" [ngClass]="{'active': item?.active}" 
                        *ngFor="let item of timingList2" (click)="onSelect(item, 'Arrival')">
                            <img [src]="item?.active ? item?.img1 :item.img">
                            <div class="d-flex flex-column">
                                <label>{{item.title}}</label>
                                <span>({{item.type}})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Preferred Airline</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="checkbox-container airline">
                        <mat-checkbox class="customCheckbox">
                            <div>
                                <img src="assets/images/AK.gif">
                                <span>Air Aisa</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <div>
                                <img src="assets/images/ai.gif">
                                <span>Air India</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <div>
                                <img src="assets/images/6E.gif">
                                <span>Indigo</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <div>
                                <img src="assets/images/6E.gif">
                                <span>Indigo</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <div>
                                <img src="assets/images/6E.gif">
                                <span>Indigo</span>
                            </div>
                            <span>₹4444</span>
                        </mat-checkbox>
                        <button mat-button class="clear-btn" id="themeDark"><i class="material-icons plusIcon">
                            add
                        </i>Show More</button>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Price Range</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="range-slider">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="option1"></ngx-slider>
                        <div class="d-flex justify-content-between">
                            <span>₹{{minValue}}</span>
                            <span>₹{{maxValue}}</span>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Duration</span>
                        <button mat-button class="clear-btn">Clear</button>
                    </div>
                    <div class="range-slider">
                        <ngx-slider [(value)]="lowValue" [(highValue)]="highValue" [options]="option2"></ngx-slider>
                        <div class="d-flex justify-content-between">
                            <span>{{lowValue}}</span>
                            <span>{{highValue}}</span>
                        </div> 
                    </div>
                </div>
                <!-- <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Price Range</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="range-slider">
                        <mat-slider min="100" max="500">
                            <input value="300" matSliderStartThumb>
                            <input value="400" matSliderStartThumb>
                        </mat-slider>
                    </div>
                </div> -->
                <!-- <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Duration</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="range-slider">
                        <mat-slider min="100" max="500">
                            <input value="300" matSliderStartThumb>
                            <input value="400" matSliderEndThumb>
                        </mat-slider>
                    </div>
                </div> -->
            </div>
            <!-- <div class="filter-row">
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Stops</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="checkbox-container">
                        <mat-checkbox class="customCheckbox">Non Stop</mat-checkbox>
                        <mat-checkbox class="customCheckbox">1 Stop</mat-checkbox>
                        <mat-checkbox class="customCheckbox">2+ Stops</mat-checkbox>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Departure Time</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="flight-timeing">
                        <div class="time-item" [ngClass]="{'active': item?.active}" 
                        *ngFor="let item of timingList" (click)="onSelect(item, 'Departure')">
                            <img [src]="item?.active ? item?.img1 : item.img">
                            <div class="d-flex flex-column">
                                <label>{{item.title}}</label>
                                <span>({{item.type}})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Arrival Time</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="flight-timeing">
                        <div class="time-item" [ngClass]="{'active': item?.active}" 
                        *ngFor="let item of timingList2" (click)="onSelect(item, 'Arrival')">
                            <img [src]="item?.active ? item?.img1 :item.img">
                            <div class="d-flex flex-column">
                                <label>{{item.title}}</label>
                                <span>({{item.type}})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Preferred Airline</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="checkbox-container airline">
                        <mat-checkbox class="customCheckbox">
                            <img src="assets/images/AK.gif">
                            <span>Air Aisa</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <img src="assets/images/ai.gif">
                            <span>Air India</span>
                        </mat-checkbox>
                        <mat-checkbox class="customCheckbox">
                            <img src="assets/images/6E.gif">
                            <span>Indigo</span>
                        </mat-checkbox>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Price Range</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="range-slider">
                        <mat-slider min="100" max="500">
                            <input value="300" matSliderStartThumb>
                            <input value="400" matSliderEndThumb>
                        </mat-slider>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="ft-head">
                        <span class="tf-left">Duration</span>
                        <button mat-button class="clear-btn">Clear All</button>
                    </div>
                    <div class="range-slider">
                        <mat-slider min="100" max="500">
                            <input value="300" matSliderStartThumb>
                            <input value="400" matSliderEndThumb>
                        </mat-slider>
                        <mat-slider range values="[10, 22]"></mat-slider>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-lg-9">
        <div class="twowaylist">
            <div class="row">
                <div class="col-lg-6 col-md-12 listInner">
                    <div class="calander-list">
                        <owl-carousel-o [options]="flightClOptions">
                            <ng-container *ngFor="let slide of ['1','2','3','4','5','6','7','8','9','10','11','12']">
                                <ng-template class="slide" carouselSlide [id]="slide">
                                    <div class="calender-item">
                                        <div class="tf-dates ">{{slide}} NOV</div>
                                        <div class="tf-price">₹3,954</div>
                                    </div>
                                </ng-template>
                            </ng-container>    
                        </owl-carousel-o>
                        <div class="calender-icon">
                            <mat-form-field appearance="fill" class="example-form-field custom-datePicker" (click)="datepicker2.open()" >
                                <input matInput class="date" [matDatepicker]="datepicker2" placeholder="5/16/2023" name="from">
                                <mat-datepicker-toggle [for]="datepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker2></mat-datepicker>
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="search-list" *ngIf="activeFlight === 0 || activeFlight === 1">
                        <h2 class="searchH2">Departing Flight</h2>
                        <mat-radio-group class="customRadioGroup" aria-label="Select an option">
                            <div class="ft-list" *ngFor="let list of [1,2,3,4,5,6]">
                                <div class="ft-body">
                                    <div class="flt-logo">
                                        <div class="flt-img">
                                            <img src="assets/images/6E.gif" alt="">
                                        </div>
                                        <ul>
                                            <li>Indigo</li>
                                            <!-- <li>6E-787</li> -->
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <span class="tf-highlight">DEL</span>
                                        <ul>
                                            <li>08:00 AM</li>
                                            <!-- <li>Thu, 29 Sep 2022</li> -->
                                        </ul>
                                    </div>
                                    <div class="flt-bar">
                                        <ul>
                                            <li>02h : 05m</li>
                                            <li><span class="hrbar"></span></li>
                                            <li>Non Stop</li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <span class="tf-highlight">BLR</span>
                                        <ul>
                                            <li>08:00 AM</li>
                                            <!-- <li>Thu, 29 Sep 2022</li> -->
                                        </ul>
                                    </div>
                                    <div class="flt-price">
                                        <span class="tf-price tf-price-discount">₹8872</span>
                                        <span class="tf-price">₹7,712</span>
                                    </div>
                                    <div class="radio-btn">
                                        <mat-radio-button [value]="list">
                                        </mat-radio-button>
                                    </div>
                                </div>
                                <div class="ft-footer">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <span class="tf-list-icon-label"> <img src="assets/images/baggage.png" alt="baggage"> 15Kgs Check-in / 7Kgs Cabin </span>
                                                    <span class="tf-list-icon-label"> <img src="assets/images/seat.png" alt="seat" id="seat"> 4 Seat (S)</span>
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Flight Details
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <div class="accordianBody">
                                                <mat-tab-group class="flightDetailTab">
                                                    <mat-tab label="Flight Details">
                                                        <div class="ft-body">
                                                            <div class="flt-logo">
                                                                <div class="flt-img">
                                                                    <img src="assets/images/6E.gif" alt="">
                                                                </div>
                                                                <ul>
                                                                    <li>Indigo</li>
                                                                    <li>6E-787</li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-center">
                                                                <span class="tf-highlight">DEL</span>
                                                                <ul>
                                                                    <li>08:00 AM</li>
                                                                    <li>Thu, 27 Sep 2022</li>
                                                                </ul>
                                                            </div>
                                                            <div class="flt-bar">
                                                                <ul>
                                                                    <li>02h : 05m</li>
                                                                    <li><span class="hrbar"></span></li>
                                                                    <li>Non Stop</li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-center">
                                                                <span class="tf-highlight">BLR</span>
                                                                <ul>
                                                                    <li>08:00 AM</li>
                                                                    <li>Thu, 29 Sep 2022</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </mat-tab>
                                                    <mat-tab label="Fare Detalis & Rules">
                                                        <table class="table table-bordered m-0">                                        
                                                            <tbody>
                                                                <tr>
                                                                    <td>Base Fare (1 Adult)</td>
                                                                    <td>₹4,199</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Taxes and Fees (1 Adult)</td>
                                                                    <td>₹846</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total Fare (1 Adult)</td>
                                                                    <td>₹5,045</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </mat-tab>
                                                    <mat-tab label="Baggage Info">
                                                        <div class="flt-baggage">
                                                            <img src="assets/images/6E.gif">
                                                            <p class="baggage-para-1">DEL-BLR</p>
                                                            <p class="baggage-para-2">(6E-787)</p>
                                                        </div>
                                                        <table class="table table-bordered m-0">                                        
                                                            <tbody>
                                                                <tr>
                                                                    <td class="bg-light">Baggage Type</td>
                                                                    <td>Check-In</td>
                                                                    <td>Cabin</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="bg-light">ADULT</td>
                                                                    <td>15 Kgs (1 piece only)</td>
                                                                    <td>7 Kgs (1 piece only)</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </mat-tab>
                                                    <mat-tab label="Cancellation & Change Rule">
                                                        <div class="flt-baggage">
                                                            <img src="assets/images/6E.gif">
                                                            <p class="baggage-para-1">DEL-BLR</p>
                                                            <p class="baggage-para-2">(6E-787)</p>
                                                        </div>
                                                        <div class="row m-0">
                                                            <div class="col-xl-6 pl-0 pr-0 pr-xl-2 mb-3 mb-xl-0">
                                                                <label class="charges d-block">Cancellation Charges</label>
                                                                <table class="table table-bordered m-0">                                        
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Dreamland fee</td>
                                                                            <td>₹300</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>0-2 hours</td>
                                                                            <td>Non Refundable</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2-72 hours</td>
                                                                            <td>₹3,500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>>72 hours</td>
                                                                            <td>₹3,000</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-xl-6 pr-0 pl-xl-2 pl-0">
                                                                <label class="charges d-block">Reschedule Charges</label>
                                                                <table class="table table-bordered m-0">                                        
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Dreamland fee</td>
                                                                            <td>₹300</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>0-2 hours</td>
                                                                            <td>Non Refundable</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2-72 hours</td>
                                                                            <td>₹3,250</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>>72 hours</td>
                                                                            <td>₹2,750</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </mat-tab>
                                                </mat-tab-group>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 listInner1">
                    <div class="calander-list">
                        <owl-carousel-o [options]="flightClOptions">
                            <ng-container *ngFor="let slide of ['1','2','3','4','5','6','7','8','9','10','11','12']">
                                <ng-template class="slide" carouselSlide [id]="slide">
                                    <div class="calender-item">
                                        <div class="tf-dates ">{{slide}} NOV</div>
                                        <div class="tf-price">₹3,954</div>
                                    </div>
                                </ng-template>
                            </ng-container>    
                        </owl-carousel-o>
                        <div class="calender-icon">
                            <mat-form-field appearance="fill" class="example-form-field custom-datePicker" (click)="datepicker3.open()" >
                                <input matInput class="date" [matDatepicker]="datepicker3" placeholder="5/16/2023" name="from">
                                <mat-datepicker-toggle [for]="datepicker3"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker3></mat-datepicker>
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="search-list" *ngIf="activeFlight === 0 || activeFlight === 2">
                        <h2 class="searchH2">Return Flight</h2>
                        <mat-radio-group class="customRadioGroup" aria-label="Select an option">
                            <div class="ft-list" *ngFor="let list of [1,2,3,4,5,6]">
                                <div class="ft-body">
                                    <div class="flt-logo">
                                        <div class="flt-img">
                                            <img src="assets/images/6E.gif" alt="">
                                        </div>
                                        <ul>
                                            <li>Indigo</li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <span class="tf-highlight">DEL</span>
                                        <ul>
                                            <li>08:00 AM</li>
                                            <!-- <li>Thu, 29 Sep 2022</li> -->
                                        </ul>
                                    </div>
                                    <div class="flt-bar">
                                        <ul>
                                            <li>02h : 05m</li>
                                            <li><span class="hrbar"></span></li>
                                            <li>Non Stop</li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <span class="tf-highlight">BLR</span>
                                        <ul>
                                            <li>08:00 AM</li>
                                            <!-- <li>Thu, 29 Sep 2022</li> -->
                                        </ul>
                                    </div>
                                    <div class="flt-price">
                                        <span class="tf-price tf-price-discount">₹8872</span>
                                        <span class="tf-price">₹7,712</span>
                                    </div>
                                    <div class="radio-btn">
                                        <mat-radio-button [value]="list">
                                        </mat-radio-button>
                                    </div>
                                </div>
                                <div class="ft-footer">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <span class="tf-list-icon-label"> <img src="assets/images/baggage.png" alt="baggage"> 15Kgs Check-in / 7Kgs Cabin </span>
                                                    <span class="tf-list-icon-label"> <img src="assets/images/seat.png" alt="seat" id="seat"> 4 Seat (S)</span>
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Flight Details
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <div class="accordianBody">
                                                <mat-tab-group class="flightDetailTab">
                                                    <mat-tab label="Flight Details">
                                                        <div class="ft-body">
                                                            <div class="flt-logo">
                                                                <div class="flt-img">
                                                                    <img src="assets/images/6E.gif" alt="">
                                                                </div>
                                                                <ul>
                                                                    <li>Indigo</li>
                                                                    <li>6E-787</li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-center">
                                                                <span class="tf-highlight">DEL</span>
                                                                <ul>
                                                                    <li>08:00 AM</li>
                                                                    <li>Thu, 27 Sep 2022</li>
                                                                </ul>
                                                            </div>
                                                            <div class="flt-bar">
                                                                <ul>
                                                                    <li>02h : 05m</li>
                                                                    <li><span class="hrbar"></span></li>
                                                                    <li>Non Stop</li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-center">
                                                                <span class="tf-highlight">BLR</span>
                                                                <ul>
                                                                    <li>08:00 AM</li>
                                                                    <li>Thu, 29 Sep 2022</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </mat-tab>
                                                    <mat-tab label="Fare Detalis & Rules">
                                                        <table class="table table-bordered m-0">                                        
                                                            <tbody>
                                                                <tr>
                                                                    <td>Base Fare (1 Adult)</td>
                                                                    <td>₹4,199</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Taxes and Fees (1 Adult)</td>
                                                                    <td>₹846</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total Fare (1 Adult)</td>
                                                                    <td>₹5,045</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </mat-tab>
                                                    <mat-tab label="Baggage Info">
                                                        <div class="flt-baggage">
                                                            <img src="assets/images/6E.gif">
                                                            <p class="baggage-para-1">DEL-BLR</p>
                                                            <p class="baggage-para-2">(6E-787)</p>
                                                        </div>
                                                        <table class="table table-bordered m-0">                                        
                                                            <tbody>
                                                                <tr>
                                                                    <td class="bg-light">Baggage Type</td>
                                                                    <td>Check-In</td>
                                                                    <td>Cabin</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="bg-light">ADULT</td>
                                                                    <td>15 Kgs (1 piece only)</td>
                                                                    <td>7 Kgs (1 piece only)</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </mat-tab>
                                                    <mat-tab label="Cancellation & Change Rule">
                                                        <div class="flt-baggage">
                                                            <img src="assets/images/6E.gif">
                                                            <p class="baggage-para-1">DEL-BLR</p>
                                                            <p class="baggage-para-2">(6E-787)</p>
                                                        </div>
                                                        <div class="row m-0">
                                                            <div class="col-xl-6 pl-0 pr-0 pr-xl-2 mb-3 mb-xl-0">
                                                                <label class="charges d-block">Cancellation Charges</label>
                                                                <table class="table table-bordered m-0">                                        
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Dreamland fee</td>
                                                                            <td>₹300</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>0-2 hours</td>
                                                                            <td>Non Refundable</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2-72 hours</td>
                                                                            <td>₹3,500</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>>72 hours</td>
                                                                            <td>₹3,000</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="col-xl-6 pr-0 pl-xl-2 pl-0">
                                                                <label class="charges d-block">Reschedule Charges</label>
                                                                <table class="table table-bordered m-0">                                        
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Dreamland fee</td>
                                                                            <td>₹300</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>0-2 hours</td>
                                                                            <td>Non Refundable</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2-72 hours</td>
                                                                            <td>₹3,250</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>>72 hours</td>
                                                                            <td>₹2,750</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </mat-tab>
                                                </mat-tab-group>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <div class="flight-selection">
            <span class="selectionLabel">Your Selection</span>
            <div class="d-flex align-items-center">
                <div class="search-list">
                    <div class="ft-list">
                        <div class="ft-body">
                            <div class="flt-logo">
                                <div class="flt-img">
                                    <img src="assets/images/6E.gif" alt="">
                                </div>
                                <ul>
                                    <li>Indigo</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <span class="tf-highlight">DEL</span>
                                <ul>
                                    <li>08:00 AM</li>
                                    <li>Thu, 29 Sep</li>
                                </ul>
                            </div>
                            <div class="flt-bar">
                                <ul>
                                    <li>02h : 05m</li>
                                    <li><span class="hrbar"></span></li>
                                    <li>Non Stop</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <span class="tf-highlight">BLR</span>
                                <ul>
                                    <li>08:00 AM</li>
                                    <li>Thu, 29 Sep</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ft-listInner">
                            <div>DEL - BLR</div>
                            <div>11:30pm,17 Sep</div>
                            <div class="bkPrice">₹7,712</div>
                        </div>
                    </div>
                </div>
                <div class="search-list">
                    <div class="ft-list">
                        <div class="ft-body d-flex">
                            <div class="flt-logo">
                                <div class="flt-img">
                                    <img src="assets/images/6E.gif" alt="">
                                </div>
                                <ul>
                                    <li>Indigo</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <span class="tf-highlight">DEL</span>
                                <ul>
                                    <li>08:00 AM</li>
                                    <li>Thu, 29 Sep</li>
                                </ul>
                            </div>
                            <div class="flt-bar">
                                <ul>
                                    <li>02h : 05m</li>
                                    <li><span class="hrbar"></span></li>
                                    <li>Non Stop</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <span class="tf-highlight">BLR</span>
                                <ul>
                                    <li>08:00 AM</li>
                                    <li>Thu, 29 Sep</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ft-listInner">
                            <div>DEL - BLR</div>
                            <div>11:30pm,17 Sep</div>
                            <div class="bkPrice">₹7,712</div>
                        </div>
                    </div>
                </div> 
                
                <div class="right-book">
                    <span class="total-price">₹15,424</span>
                    <div class="btn-box">
                        <button mat-flat-button class="green-btn" (click)="gotoNext('flightBooking')">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>