<div id="completed">
    <div class="container">
        <div class="pageInner">
            <div class="pageHeader">
                <div class="title">
                    <span class="titleHead cursor" (click)="gotoNext('myBooking')">My Bookings</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="titleHead"><b>Successful</b></span>
                </div>
                <div class="d-flex align-items-center">
                    <h1>Booking Successful</h1>
                    <div class="checkimg">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="bookData">
                    <label class="customLabel">Confirmation and E-Tickets sent to <span class="customSpan">info@dreamlandtravel.co.in</span>and<span class="customSpan">082 8562  4833</span></label>
                </div>
            </div>
            <div class="pageBody">
                <div class="pageLeft">
                    <div class="pageContent">
                        <div class="AddBorder">
                            <span class="customSpan black">ONE WAY FLIGHT</span>
                            <span class="customSpan">BOOKING ID <span class="black">MN2YF0XTT5008D3P6370</span></span>
                        </div>
                        <div class="contentBody">
                            <label class="customLabel mb-2">In 49 Days | 29 Jun 2023(Thursday)</label>
                            <div>
                                <div class="bodyTitle">
                                    <div class="mt-1 mr-3">
                                        <div class="BodyImg">
                                            <img src="assets/images/6E.gif" alt="">
                                        </div>
                                            <span class="blue">6E-2094</span>
                                    </div>
                                    <div class="titleInner">
                                        <div class="flightTime">
                                            <div>
                                                <span class="customText"><b>Ranchi</b>(IXR)</span>
                                                <span class="customSpan">16:15 Birsa Munda Airport <br><label class="blue">View Location</label></span>
                                            </div>
                                        </div>
                                        <div class="rightArrow"></div>
                                        <div class="flightTime flight1">
                                            <div>
                                                <span class="customText"><b>Delhi</b>(DEL)</span>
                                                <span class="customSpan">18:05v Indira Gandhi International Airport, Terminal 2 <br><label class="blue">View Location</label></span>
                                            </div>
                                            <div class="mt-sm-2 dNone576">
                                                <label class="customLabel">1 h 45 m | non stop</label>
                                                <label class="customLabel">PNR <span class="black">NZY&KX</span></label>
    
                                            </div>
                                        </div>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="customSpan customSpan1">For Baggage details & Cancellation Policy for this trip <span class="blue" (click)="gotoNext('myBooking')">Go To My Bookings</span></span>
                    </div>
                    <div class="pageContent content2">
                        <span class="customSpan black">TOTAL PRICE</span>
                        <div class="d-flex">
                            <div>
                                <div class="d-flex">
                                    <div class="d-flex mr-2">
                                        <label>%</label>
                                        <span class="customSpan green ml-1">You Saved ₹ 64</span>
                                    </div>
                                    <span class="titleHead">₹ 8,243</span>
                                </div>
                                <span class="customSpan blue" (click)="openFareRules()">View Fare Breakup</span>
                            </div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="pageContent content3">
                        <div class="d-flex justify-content-between mb-1">
                            <span class="customSpan black">TRAVELLERS (2)</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="cBody">
                            <span class="titleHead">Manish Kumar Singh</span>
                            <label class="customLabel">(Adult | Male)</label>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="customSpan ml-2">To Modify Guests for the trip <span class="blue" (click)="gotoNext('myBooking')">Go To My Booking</span></span>
                        </div>
                    </div>
                    <div class="pageContent content4">
                        <div class="contentInfo">
                            <div class="cHead">
                                <h4>Important Information</h4>
                            </div>
                            <div class="cBody">
                                <div class="mb-3">
                                    <span class="customLabel bold">Mandatory check-list for passengers</span>
                                    <span class="customLabel">1. certify your health status through the Aarogya setu app or the self-declaration form at the airport.</span>
                                    <span class="customLabel">2. Remember to web check-in before arriving at the airport; carry a printed or soft copy of the boarding pass.</span>
                                    <span class="customLabel">3. Please reach at least 2 hours prior to flight departure.</span>
                                    <span class="customLabel">4. Face masks are compulsory.</span>
                                    <span class="customLabel">5. Remember to download the baggage tag(s) and affix it on your bag(s).</span>
                                </div>
                                <div class="mb-3">
                                    <span class="customLabel bold">Baggage Information</span>
                                    <span class="customLabel">Carry no more than 1 check-in baggage and 1 hand baggage per passenger. Additional pieces of Baggage will be subject to additional charges in additional to the excess baggage charges.</span>
                                </div>
                                <div>
                                    <span class="customLabel bold">KIND ATTENTION</span>
                                    <span class="customLabel">We wish to remind you that Dreamland never asks for your personal banking and securitydetails like passwords, OTP etc., or requests you to install third-party apps to view your screen. For any queries, please reach-out to us via the heip section on our mobile app or call on our official toll-free customer support numbers: 082 8534 4563 & 011 4550 1020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pageRight">
                    <div class="rightContent">
                        <div class="contentData">
                            <span class="titleHead">Manage Your Trip & Get All The Help</span>
                            <div class="cData">
                                <div class="bookImg"></div>
                                <span class="customSpan blue">Download Voucher</span>
                            </div>
                            <div class="cData">
                                <div class="bookImg img1"></div>
                                <span class="customSpan blue" (click)="gotoNext('webCheckin')">Web Check In</span>
                            </div>
                            <div class="cData">
                                <div class="bookImg img2"></div>
                                <span class="customSpan blue">Add Seat or Meal</span>
                            </div>
                            <div class="cData">
                                <div class="bookImg img3"></div>
                                <span class="customSpan blue">Modify Dates</span>
                            </div>
                            <div class="cData">
                                <div class="bookImg img4"></div>
                                <span class="customSpan blue">Cancel All Ticket</span>
                            </div>
                        </div>
                        <div class="mx-3">
                            <button mat-flat-button class="modalBotton" (click)="gotoNext('myBooking')">
                                go to my bookings
                                <i class="fa fa-angle-right" aria-hidden="true"></i>                          
                            </button>
                        </div>
                       
                    </div>
                    <div class="rightContent Content2">
                        <span class="titleHead">Contact</span>
                        <span class="customSpan black">011 4550 1020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>