<div class="modal-container signup-container">
    <div class="modalHeader">
        <h1>Signup</h1>
        <span class="closeBtn" (click)="close()">
            <img src="/assets/images/close.png">
        </span>
    </div>
    <div class="modalBody customScroll">
        <div class="modalInner">
            <mat-tab-group>
                <mat-tab label="Customer">
                    <div class="py-3">
                        <div class="customSelect">
                            <select name="status" id="status">
                                <option value="">MR</option>
                                <option value="">MRS</option>
                                <option value="">MS</option>
                                <option value="">DR</option>
                            </select>
                        </div>
                        <div class="customInput">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter Your Full Name">
                        </div>
                        <div class="customInput">
                            <label>Phone Number</label>
                            <input type="tel" placeholder="Enter Your Phone Number">
                        </div>
                        <div class="customInput">
                            <label>Email</label>
                            <input type="Email" placeholder="Enter Your Email">
                        </div>
                        <div class="customInput">
                            <label>Password</label>
                            <input type="Password" placeholder="Enter Your Password">
                        </div>
                        <div class="loginBtn">
                            <button mat-flat-button class="modalBotton">signup</button>
                        </div>
                        <div class="orSection">
                            <span class="or">or</span>
                        </div>
                        <div class="social">
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                        <img class="logoImg" src="/assets/images/facebook.png" >
                                    <p>Facebook</p>
                                </button>
                            </div>
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                    <img class="logoImg" src="/assets/images/google.png">
                                    <p>Google</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Corporate">
                    <div class="py-3">
                        <div class="customSelect">
                            <!-- <label>Email</label> -->
                            <select name="status" id="status">
                                <option value="">MR</option>
                                <option value="">MRS</option>
                                <option value="">MS</option>
                                <option value="">DR</option>
                            </select>
                        </div>
                        <div class="customInput">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter Your Full Name">
                        </div>
                        <div class="customInput">
                            <label>Phone Number</label>
                            <input type="tel" placeholder="Enter Your Phone Number">
                        </div>
                        <div class="customInput">
                            <label>Email</label>
                            <input type="Email" placeholder="Enter Your Email">
                        </div>
                        <div class="customInput">
                            <label>Pan Card</label>
                            <input type="text" placeholder="Enter Your PanCard Number">
                        </div>
                        <div class="customInput">
                            <label>GSTIN</label>
                            <input type="text" placeholder="Enter Your GST Number">
                        </div>
                        <div class="customInput">
                            <label>Aadhar Number</label>
                            <input type="tel" placeholder="Enter Your Aadhar Number">
                        </div>
                        <div class="customInput">
                            <label>Password</label>
                            <input type="Password" placeholder="Enter Your Password">
                        </div>
                        <div class="loginBtn">
                            <button mat-flat-button class="modalBotton">signup</button>
                        </div>
                        <div class="orSection">
                            <span class="or">or</span>
                        </div>
                        <div class="social">
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                        <img class="logoImg" src="/assets/images/facebook.png" >
                                    <p>Facebook</p>
                                </button>
                            </div>
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                    <img class="logoImg" src="/assets/images/google.png">
                                    <p>Google</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Agent">
                    <div class="py-3">
                        <div class="customSelect">
                            <select name="status" id="status">
                                <option value="">MR</option>
                                <option value="">MRS</option>
                                <option value="">MS</option>
                                <option value="">DR</option>
                            </select>
                        </div>
                        <div class="customInput">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter Your Full Name">
                        </div>
                        <div class="customInput">
                            <label>Phone Number</label>
                            <input type="tel" placeholder="Enter Your Phone Number">
                        </div>
                        <div class="customInput">
                            <label>Email</label>
                            <input type="Email" placeholder="Enter Your Email">
                        </div>
                        <div class="customInput">
                            <label>Pan Card</label>
                            <input type="text" placeholder="Enter Your PanCard Number">
                        </div>
                        <div class="customInput">
                            <label>GSTIN</label>
                            <input type="text" placeholder="Enter Your GST Number">
                        </div>
                        <div class="customInput">
                            <label>Aadhar Number</label>
                            <input type="tel" placeholder="Enter Your Aadhar Number">
                        </div>
                        <div class="customInput">
                            <label>Password</label>
                            <input type="Password" placeholder="Enter Your Password">
                        </div>
                        <div class="loginBtn">
                            <button mat-flat-button class="modalBotton">signup</button>
                        </div>
                        <div class="orSection">
                            <span class="or">or</span>
                        </div>
                        <div class="social">
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                        <img class="logoImg" src="/assets/images/facebook.png" >
                                    <p>Facebook</p>
                                </button>
                            </div>
                            <div class="flex50">
                                <button mat-flat-button class="innerBtn">
                                    <img class="logoImg" src="/assets/images/google.png">
                                    <p>Google</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>