<div id="unsuccessful">
    <div class="container">
        <div class="pageInner">
            <div class="pageHeader">
                <div class="title">
                    <span class="titleHead cursor" (click)="gotoNext('myBooking')">My Bookings</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="titleHead"><b>Unsuccessful</b></span>
                </div>
                <h1>UNSUCCESSFUL FLIGHT BOOKING</h1>
                <div class="bookData">
                    <label class="customLabel mr-4">Booking ID <span class="customSpan">MF2RGKE1SPJMR4PY0562</span></label>
                    <label class="customLabel pr-2">Booking On <span class="customSpan">05 May, 04:54 PM</span></label>
                </div>
                <div class="rightside">
                    <img src="assets/images/world.png">
                </div>
            </div>
            <div class="pageBody">
                <div class="pageLeft">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h1 class="m-0">₹ 25</h1>
                            <span class="titleHead mt-2 black"><b>My Wallet</b></span>
                        </div>
                        <span class="chip">PAYMENT STATUS AWAITED</span>
                    </div>
                    <div class="borderAlign"></div>
                    <div class="pageDec">
                        <span class="titleHead"><b>Sorry, your booking was unsuccessful because we didn't receive the payment.</b></span>
                        <span class="customSpan grey py-2">We are checking the payment status with your bank. A refund will be initiated in 2-3 days if the amount has already been deducted. Rest assured, your money is safe.</span>
                    </div>
                    <div class="vBorder">
                        <div class="failedBooking">
                            <div class="bookIcon">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            <div class="failedInner">
                                <span class="customSpan mb-1"><b>Booking failed</b></span>
                                <label class="customLabel">05 May, 04:54 PM</label>
                            </div>
                        </div>
                        <div class="paymentStatus">
                            <div class="bookIcon closeIcon">
                                <label class="customLabel">2</label>
                            </div>
                            <div class="statusInner">
                                <span class="customSpan mb-1"><b>Checking Payment Status</b></span>
                                <label class="customLabel">Expected in 2-3 days</label>
                            </div>
                        </div>
                    </div>
                    <div class="pageEnd">
                        <div class="d-flex align-items-center">
                            <div class="bookImg"></div>
                            <span class="titleHead"><b>Tell us, if the booking amount was deducted?</b></span>
                        </div>
                        <div class="reviews">
                            <div class="like">
                                <div class="bookImg likeImg"></div>
                                <span class="customSpan">YES</span>
                            </div>
                            <div class="like ml-2">
                                <div class="bookImg dlikeImg"></div>
                                <span class="customSpan">No</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>