@import "./../../../../assets/scss/variable.scss";

::ng-deep .passwordRecovery-modal {
    width: 510px !important;
    margin: 20px 0px;
    @media only screen and (max-width: 767px) {
        height: 100%;
        min-width: 100%;
    }
    .mat-dialog-container{
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 7px 0px;
        border-radius: 10px;
        padding: 0;
        @media only screen and (max-width: 767px) {
            border-radius: 0;
        }
    }
}
.passwordRecovery-container {
    .modalHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-bottom: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
        padding: 20px 30px;
        h1 {
            font-size: 24px;
            line-height: 36px;
            font-weight: 400;
            margin: 0;
            color: #000;
            @media only screen and (max-width: 767px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        img {
            width: 20px;
            cursor: pointer;
            @media only screen and (max-width: 767px) {
                width: 18px;
            }
        }
    }
    .modalBody {
        max-height: calc(82vh - 140px);
        overflow-y: scroll;
        .modalInner {
            background: #fff;
            padding: 20px 20px;
            position: relative;
        }
    }
    .modalFooter {
        padding: 0 20px 30px 20px;
        .modalBotton {
            width: 100%;
            margin-left: 0 !important;
        }
    }
}