<div class="modal-container passwordRecovery-container">
    <div class="modalHeader">
        <h1>Reset Your Password</h1>
        <span class="closeBtn" (click)="close()">
            <img src="/assets/images/close.png" alt="">
        </span>
    </div>
    <div class="modalBody customScroll">
        <div class="modalInner">
            <div class="customInput">
            <label>Email</label>
            <input type="text" placeholder="Enter Your Email">
            </div>
        </div>
    </div>
    <div class="modalFooter">
        <button mat-raised-button class="modalBotton resetBtn">Reset Password</button>
    </div>
</div>
