<div id="completed">
    <div class="container">
        <div class="pageInner">
            <div class="pageHeader">
                <div class="title">
                    <span class="titleHead cursor" (click)="gotoNext('myBooking')">My Bookings</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="titleHead"><b>Upcoming</b></span>
                </div>
                <h1>Your Flight booking is confirmed!</h1>
                <div class="bookData">
                    <label class="customLabel mr-4">Booking ID <span class="customSpan">MN2YF0XTT5008D3P6370</span></label>
                    <label class="customLabel pr-2">Booking On <span class="customSpan">28 Feb, 2023</span></label>
                </div>
                <div class="rightside">
                    <img src="assets/images/world.png">
                </div>
            </div>
            <div class="pageBody">
                <div class="pageLeft">
                    <div class="pageContent content6">
                        <div class="contentHead">
                            <div class="headImg">
                                <img src="assets/images/safety.png">
                            </div>
                            <div>
                                <h5>Your Checklist for a Safe Trip</h5>
                                <span class="titleHead p-0">Complete these steps for a hassle free experience at the airport</span>
                            </div>
                        </div>
                        <div class="contentRow">
                            <div class="contentCol">
                                <span class="customSpan"><b>Web Check-in</b></span>
                                <span class="customSpan">Web Check-in with us, and print your boarding pass. <span class="blue" (click)="openCheckin()"><b>CHECK-IN</b></span></span>
                            </div>
                            <div class="contentCol">
                                <span class="customSpan"><b>Aarogya Setu App</b></span>
                                <span class="customSpan">Download Aarogya Setu app: 'Safe' status is recommended to travel. <span class="blue"><b>DOWNLOAD</b></span></span>
                            </div>
                            <div class="contentCol">
                                <span class="customSpan"><b>Guidelines</b></span>
                                <span class="customSpan">Check quarantine guidelines for your destination state. <span class="blue"><b>READ GUIDELINES</b></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="pageContent">
                        <div class="contentHead" (click)="onOpen('content')">
                            <h2>Ranchi</h2>
                            <span class="rightArrow"></span>
                            <h2>Delhi</h2>
                            <div class="chip">
                                <span class="bookImg"></span>
                                <span>Cancelled</span>
                            </div>
                            <div class="bookImg" [ngClass]="{'active': showContent}"></div>
                        </div>
                        <div class="contentBody" *ngIf="!showContent">
                            <div class="guideLine">
                                <div class="bookImg"></div>
                                <div>
                                    <span class="customSpan">Complete Web Check-in Now</span>
                                    <label class="customLabel">Mandatory for all travellers, as per the guidelines by DGCA<b (click)="openCheckin()">CHECK-IN</b></label>
                                </div>
                            </div>
                            <div>
                                <div class="bodyTitle">
                                    <div class="mb-4">
                                        <div class="d-flex mr-4">
                                            <div class="BodyImg">
                                                <img src="assets/images/6E.gif" alt="">
                                            </div>
                                            <div>
                                                <span class="customSpan cGrey mb-1">IndiGo</span>
                                                <span class="customSpan cGrey">6E-2094</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flightTime">
                                            <span class="customText"><b>Ranchi</b> - IXR</span>
                                            <div class="d-flex mt-1">
                                                <span class="customFont">16:15, 30 Jun`23</span>
                                            </div>
                                            <span class="customSpan">Birsa Munda Airport <label>View Location</label></span>
                                        </div>
                                        <div class="planeTag">
                                            <div class="bookImg planeImg"></div>
                                            <div class="borderLine"></div>
                                            <span class="customSpan">1h 50m</span>
                                        </div>
                                        <div class="flightTime fly">
                                            <span class="customText"><b>Delhi</b> - DEL</span>
                                            <div class="d-flex mt-1">
                                                <span class="customFont">18:05, 30 Jun`23</span>
                                            </div>
                                            <span class="customSpan">Indira Gandhi International Airport, Terminal 2<label>View Location</label></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bodyType">
                                    <div class="typeInner">
                                        <div class="ticket">
                                            <div class="bookImg tImg"></div>
                                            <span class="customSpan grey">Regular Fare</span>
                                        </div>
                                        <div class="ticket">
                                            <div class="bookImg tImg"></div>
                                            <span class="customSpan grey">SAVER</span>
                                        </div>
                                    </div>
                                    <div class="typeInner">
                                        <div class="ticket">
                                            <div class="bookImg tImg"></div>
                                            <span class="customSpan grey">Economy</span>
                                        </div>
                                        <div class="ticket">
                                            <div class="bookImg tImg baggage"></div>
                                            <div class="check">
                                                <span class="customSpan grey">Check In - </span>
                                                <span class="customSpan grey">15 Kgs (1 piece only) per adult/child</span>
                                            </div>
                                        </div>
                                        <div class="ticket">
                                            <div class="bookImg tImg bag"></div>
                                            <span class="customSpan grey">Carry On - 7 Kgs (1 piece only) per adult/child</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="passData">
                                    <div class="d-flex mb-1">
                                        <div class="blank"></div>
                                        <div class="passName">
                                            <label class="customLabel">TRAVELLER</label>
                                        </div>
                                        <div class="passPnr">
                                            <label class="customLabel">PNR</label>
                                        </div>
                                        <div class="tNumber">
                                            <label class="customLabel">E-TICKET NUMBER</label>
                                        </div>
                                        <div class="seat">
                                            <label class="customLabel">SEAT</label>
                                        </div>
                                        <div class="meal">
                                            <label class="customLabel">MEAL</label>
                                        </div>
                                    </div>
                                    <div class="passDetail" *ngFor="let item of passDetail">
                                        <div class="bookImg passImg"></div>
                                        <div class="passName">
                                            <span class="customSpan"><b>{{item.name}} </b><label>A{{item.type}}</label></span>
                                        </div>
                                        <div class="passPnr customSpan">{{item.pnr}}</div>
                                        <div class="tNumber">
                                            <span class="customSpan">{{item.number}}</span>
                                        </div>
                                        <div class="seat">
                                            <label class="customSpan">{{item.seat}}</label>
                                        </div>
                                        <div class="meal">
                                            <label class="customSpan">{{item.meal}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="AddBorder">
                                <div class="d-flex">
                                    <div class="seat">
                                        <div class="bookImg"></div>
                                        <span class="titleHead">Add Seat(s)</span>
                                    </div>
                                    <div class="meal">
                                        <div class="bookImg"></div>
                                        <span class="titleHead">Add Meal(s)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pageContent content2">
                        <h5>IMPORTANT INFORMATION</h5>
                        <span class="customSpan dot">Valid ID proof needed :</span>
                        <span class="customSpan">Carry a valid photo identification proof (Driver Licence, Aadhar Card, Pan Card or any other Government recognised photo identification)</span>
                    </div>
                    <div class="pageContent content3">
                        <h5>CANCELLATION</h5>
                        <span class="titleHead orange">You can cancel full/partial journey as per airline rules.</span>
                        <div class="contentInner">
                            <div class="leftSide">
                                <div class="cancelHead" (click)="onOpen('cancel')">
                                    <span class="titleHead m-0">Ranchi</span>
                                    <span class="rightArrow"></span>
                                    <span class="titleHead m-0">Delhi</span>
                                    <span class="customSpan ml-1">30 Jun , IndiGo</span>
                                    <i class="fa fa-chevron-down" [ngClass]="{'active': showCancel}" aria-hidden="true"></i>
                                </div>
                                <div class="cancelBody" *ngIf="showCancel">
                                    <div class="canceltag">
                                        <div class="width BorderTag">
                                            <span class="customSpan orange">Booking Date - 3 days to Departure</span>
                                            <label class="customLabel mt-1">Till Tue Jun 27 16:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan orange">Cancellation Charges : ₹ 3000.0/Adult, ₹ 3000.0/Child</span>
                                            <label class="customLabel mt-1">We will charge an additional ₹ 50.0 per traveller as the Dreamland cancellation fee</label>
                                        </div>
                                    </div>
                                    <div class="canceltag">
                                        <div class="width BorderTag">
                                            <span class="customSpan orange">3 days - 2 Hr(s) to Departure</span>
                                            <label class="customLabel mt-1">Till Fri Jun 30 14:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan orange">Cancellation Charges : ₹ 2873.0/Adult, ₹ 2873.0/Child</span>
                                            <label class="customLabel mt-1">We will charge an additional ₹ 50.0 per traveller as the Dreamland cancellation fee</label>
                                        </div>
                                    </div>
                                    <div class="canceltag">
                                        <div class="width BorderTag tag1">
                                            <span class="customSpan red">2 Hr(s) - Departure time</span>
                                            <label class="customLabel mt-1">Till Fri Jun 30 16:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan red">Non-Refundable</span>
                                            <label class="customLabel mt-1">The airline does not allow cancellation during this time window</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-3 pt-1">
                                    <span class="customSpan dot">Airline charges a cancellation fees when you cancel in a particular time window.</span>
                                    <span class="customSpan dot">Ancillary like seat , meal and baggage are fully refundable.</span>
                                    <span class="customSpan dot">Insurance, donation and convenience fees are non-refundable.</span>
                                </div>
                                <div class="request">
                                    <span class="bookImg"></span>
                                    <span class="customSpan">If the airline cancelled your flight, or you cancelled your flight directly with airline, please <label>submit a request for refund</label></span>
                                </div>
                            </div>
                            <div class="rightSide">
                                <button mat-flat-button class="modalBotton">FULL CANCELLATION</button>
                                <button mat-flat-button class="modalBotton MBotton">Partial Cancellation</button>
                            </div>
                        </div>
                    </div>
                    <div class="pageContent content3">
                        <h5>CHANGE YOUR FLIGHT DATE</h5>
                        <span class="titleHead orange mb-2">Change your travel date or travel time. Date change charges along with price difference will be payable. Change of sector is not allowed.</span>
                        <div class="contentInner">
                            <div class="leftSide mt-0">
                                <div class="cancelHead" (click)="onOpen('change')">
                                    <span class="titleHead m-0">Ranchi</span>
                                    <span class="rightArrow"></span>
                                    <span class="titleHead m-0">Delhi</span>
                                    <span class="customSpan ml-1">30 Jun , IndiGo</span>
                                    <i class="fa fa-chevron-down" [ngClass]="{'active': showChange}" aria-hidden="true"></i>
                                </div>
                                <div class="cancelBody" *ngIf="showChange">
                                    <div class="canceltag">
                                        <div class="width BorderTag">
                                            <span class="customSpan orange">Booking Date - 3 days to Departure</span>
                                            <label class="customLabel mt-1">Till Tue Jun 27 16:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan orange">Date Change Charges : ₹ 2750.0/Adult + Fare Difference, ₹ 2750.0/Child + Fare Difference</span>
                                            <label class="customLabel mt-1">We will charge an additional ₹ 50.0 per traveller as Dreamland date change fee</label>
                                        </div>
                                    </div>
                                    <div class="canceltag">
                                        <div class="width BorderTag tag2">
                                            <span class="customSpan red">3 days - 2 Hr(s) to Departure</span>
                                            <label class="customLabel mt-1">Till Fri Jun 30 14:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan red">Date Change not allowed</span>
                                            <label class="customLabel mt-1">The airline does not allow date change during this time window.</label>
                                        </div>
                                    </div>
                                    <div class="canceltag">
                                        <div class="width BorderTag tag1">
                                            <span class="customSpan red">2 Hr(s) - Departure time</span>
                                            <label class="customLabel mt-1">Till Fri Jun 30 16:15:00 IST 2023</label>
                                        </div>
                                        <div class="width width1">
                                            <span class="customSpan red">Date Change not allowed</span>
                                            <label class="customLabel mt-1">The airline does not allow date change during this time window.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-3 pt-1">
                                    <span class="customSpan dot">Date change charges displayed is only for same airline.</span>
                                    <span class="customSpan dot">If a customer intends to choose a different airline than original on new dates, he/she will have to cancel the original ticket first and then book a fresh ticket.</span>
                                    <span class="customSpan dot">Airlines do not allow date change closer to departure usually between 0-4 hours.</span>
                                    <span class="customSpan dot">Any seats, meals, bagagge purchased on old ticket will be no longer applicable on amended flight. The customer will have to rebook the ancilliary services.</span>
                                </div>
                            </div>
                            <div class="rightSide">
                                <button mat-flat-button class="modalBotton">Change Travel dates</button>
                            </div>
                        </div>
                    </div>
                    <div class="pageContent content4">
                        <h5>BAGGAGE DETAILS</h5>
                        <span class="titleHead">Baggage inclusions as per fare class booked.</span>
                        <div class="contentInner">
                            <div class="leftSide mt-0">
                                <div class="cancelHead" (click)="onOpen('baggage')">
                                    <span class="titleHead m-0">Ranchi</span>
                                    <span class="rightArrow"></span>
                                    <span class="titleHead m-0">Delhi, </span>
                                    <span class="titleHead m-0">IndiGo</span>
                                    <i class="fa fa-chevron-down" [ngClass]="{'active': showBaggage}" aria-hidden="true"></i>
                                </div>
                                <div class="cancelBody" *ngIf="showBaggage">
                                    <div class="d-flex align-items-end">
                                        <div class="width">
                                            <div class="bookImg"></div>
                                            <span class="titleHead">Check In Baggage</span>
                                            <span class="customSpan grey">15 Kgs (1 piece only) per adult/child</span>
                                        </div>
                                        <div class="width width1">
                                            <div class="bookImg img1"></div>
                                            <span class="titleHead">Check In Baggage</span>
                                            <span class="customSpan grey">15 Kgs (1 piece only) per adult/child</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightSide">
                                <div class="d-flex align-items-center">
                                    <div  class="bookImg"></div>
                                    <span class="customSpan blue">IndiGo Baggage Policy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pageContent content4">
                        <h5>SUBMIT REFUND REQUEST</h5>
                        <span class="titleHead pb-4 m-0">Raise a request for refund, if you didn't or can't travel because of flight cancellation, schedule change or you have directly cancelled your ticket with airline.</span>
                        <div class="tabList">
                            <ng-container *ngFor="let tab of tabList">
                                <div class="tabName" [ngClass]="{'active': tab?.isActive}" (click)="onChangeTab(tab)">{{tab.title}}</div>
                            </ng-container>
                        </div>
                        <ng-container *ngFor="let tab of tabList">
                            <div class="tabBody" *ngIf="tab?.isActive">
                                <div class="tab1">
                                    <span class="titleHead p-0">{{tab.text}}</span>
                                    <button mat-flat-button class="modalBotton">Raise Claim</button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="pageContent content4 content5">
                        <h5>CONTACT INFORMATION</h5>
                        <span class="titleHead">Information about primary traveller. Any communication by airlines will be sent to these details.</span>
                        <div class="d-flex justify-content-between flex-wrap">
                            <div>
                                <div class="d-flex mb-3">
                                    <div class="bookImg"></div>
                                    <span class="customSpan">Bablu Sharma</span>
                                </div>
                                <div class="d-flex mb-3">
                                    <div class="bookImg img1"></div>
                                    <span class="customSpan">info@dreamlandtravel.co.in</span>
                                </div>
                                <div class="d-flex">
                                    <div class="bookImg img2"></div>
                                    <span class="customSpan">918285624833</span>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <span class="bookImg img3"></span>
                                <span class="customSpan blue">Send E-Ticket on Email.</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="pageRight">
                    <div class="rightContent">
                        <div class="rightInner">
                            <div class="content1">
                                <span class="titleHead">Change in Plans</span>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img10"></div>
                                    <span class="customSpan blue">Cancel Specific Traveller</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg"></div>
                                    <span class="customSpan blue">Cancel Full Booking</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="bookImg img11"></div>
                                    <span class="customSpan blue">Change Travel Dates</span>
                                </div>
                            </div>
                            <div class="content1">
                                <span class="titleHead">Submit Refund Request</span>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg"></div>
                                    <span class="customSpan blue">I directly cancelled with the airline</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img1"></div>
                                    <span class="customSpan blue">My flight was cancelled by the airline</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="bookImg img2"></div>
                                    <span class="customSpan blue">Flight rescheduled & did not travel</span>
                                </div>
                            </div>
                            <div class="content1">
                                <span class="titleHead">Ticket(s)</span>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img3"></div>
                                    <span class="customSpan cursor blue" (click)="gotoNext('flightPreview')">Download E-ticket(s)</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img4"></div>
                                    <span class="customSpan cursor blue">Email E-Tickets(s)</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img5"></div>
                                    <span class="customSpan cursor blue" (click)="gotoNext('flightInvoice')">Download Invoice(s)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="bookImg img6"></div>
                                    <span class="customSpan cursor blue">Customer Booking Confirmation</span>
                                </div>
                            </div>
                        </div>
                        <div class="rightInner">
                            <div class="content1">
                                <span class="titleHead">Make more of this booking</span>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img12"></div>
                                    <span class="customSpan blue">Add Seat(s)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="bookImg img13"></div>
                                    <span class="customSpan blue">Add Meal(s)</span>
                                </div>
                            </div>
                            <div class="content1">
                                <span class="titleHead">OTHER REQUEST</span>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="bookImg img14"></div>
                                    <span class="customSpan blue">Name Correction</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightContent Content2">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="customSpan black">Airline Contact</span>
                            <div class="bookImg img7"></div>
                        </div>
                        <div class="d-flex">
                            <div class="rightImg">
                                <img src="assets/images/6E.gif">
                            </div>
                            <div>
                                <label class="customLabel">IndiGo</label>
                                <span class="customSpan mt-2">0124-6173838, 0124-4973838</span>
                            </div>
                        </div>
                    </div>
                    <div class="rightContent content3">
                        <span class="titleHead">Price Breakup</span>
                        <div class="custom">
                            <span class="customSpan">Airline Base Fare</span>
                            <span class="customSpan">₹ 7233</span>
                        </div>
                        <div class="custom">
                            <span class="customSpan">Airline Taxes</span>
                            <span class="customSpan">₹ 2007</span>
                        </div>
                        <div class="custom">
                            <span class="customSpan">Convenience Fee</span>
                            <span class="customSpan">₹ 15</span>
                        </div>
                        <div class="custom">
                            <div class="d-flex">
                                <span class="customSpan">Partner Commission</span>
                                <div class="bookImg img8">
                                    <div class="details">
                                        <div class="d-flex justify-content-between">
                                            <span class="customSpan">Commission Via Promo Cash</span>
                                            <span class="customSpan">₹ 0</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="customSpan">Commission Via Discount</span>
                                            <span class="customSpan">₹ 65</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="customSpan">₹ 65</span>
                        </div>
                        <div class="custom">
                            <span class="customSpan">TDS on Commission Amount</span>
                            <span class="customSpan">₹ 4</span>
                        </div>
                        <div class="custom custom1">
                            <span>Total Amount</span>
                            <span>₹ 9194</span>
                        </div>
                    </div>
                    <div class="rightContent content3">
                        <div class="ammount">
                            <span class="titleHead p-0">Amount Paid</span>
                            <span class="titleHead p-0">₹ 9194</span>
                        </div>
                        <div class="idText">
                            <span class="customSpan">ybl 8285624833@ybl</span>
                            <span class="customSpan">₹ 16</span>
                        </div>
                        <div class="idText">
                            <span class="customSpan">My Cash Wallet</span>
                            <span class="customSpan">₹ 9178</span>
                        </div>
                        <div class="reward">
                            <div class="rewardImg">
                                <img src="assets/images/reward.png">
                            </div>
                            <label class="customLabel"><b>Congratulations! Cashback of INR 25.0 has been processed </b> to your Wallet and shall reflect in a few days.</label>
                        </div>
                    </div>
                    <div class="rightContent content5">
                        <div class="customSpan black">Good To Know</div>
                        <div class="customSpan my-1">While boarding a Domestic Flight</div>
                        <div class="d-flex mt-3">
                            <div class="bookImg"></div>
                            <div style="flex: 1;">
                                <span class="customSpan">Boarding Time</span>
                                <span class="customSpan fontw">Check-in desks will close 1 hour before departure.</span>
                            </div>
                        </div>
                        <div class="d-flex mt-3">
                            <div class="bookImg img1"></div>
                            <div style="flex: 1;">
                                <span class="customSpan">Valid ID Proof Required</span>
                                <span class="customSpan fontw">Please carry a valid id proof. Driving License, Aadhar Card, Pan Card or any other government authorized photo identification.</span>
                            </div>
                        </div>
                    </div>
                    <div class="rightContent Content4">
                        <div class="bookImg img9"></div>
                        <div class="customSpan">This booking was made by Dreamland certified travel agent with email address info@dreamlandtravel.co.in and phone number 918285624833.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
