<div id="offerDetails">
    <div class="container">
        <h1>Offer Details</h1>
        <div class="rightside">
            <img src="assets/images/world.png">
        </div>
        <div class="pageInner">
            <div class="cardInner">
                <div class="cardHeader">
                    <img src="../../../../assets/images/offer1.png">
                </div>
                 <div class="cardBody">
                    <div class="cardDetails">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus cupiditate, ipsam eveniet obcaecati iste sunt expedita cum consequatur doloremque repudiandae facilis, dolorem quaerat, eaque ipsum unde. Placeat iusto eligendi id omnis et cupiditate explicabo assumenda minima reprehenderit sint maxime, quae vel ratione cum quidem quasi earum, odit eos quo!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus cupiditate, ipsam eveniet obcaecati iste sunt expedita cum consequatur doloremque repudiandae facilis, dolorem quaerat, eaque ipsum unde. Placeat iusto eligendi id omnis et cupiditate explicabo assumenda minima reprehenderit sint maxime, quae vel ratione cum quidem quasi earum, odit eos quo!</p>
                    </div>
                    <div class="cardDetails">
                        <h5>Conditions in Case of Cancellation:</h5>
                        <ul>
                            <li>In case of full cancellation, the offer stands void and the customer will not be eligible for discount.</li>
                            <li>If the customer cancels the travel service purchase after the discount is credited, Dreamland Kart Pvt Ltd will deduct the discount amount from the refund and cancellation charges shall apply.</li>
                            <li>In case of partial cancellation, the offer stands void if the revised booking amount is not eligible for discount. If the revised booking amount is still eligible for the discount or cashback, then it will be appropriately reduced basis the booking amount.</li>
                        </ul>
                    </div>
                    <div class="cardDetails mb-0">
                        <h5>Terms & Conditions:</h5>
                        <ul class="mb-0">
                            <li>The user agreement and privacy policy of Dreamland Kart Pvt Ltd shall apply.</li>
                            <li>Customers, who are travel agents by occupation are barred from making bookings for their customers and Dreamland Kart Pvt Ltd reserves the right to deny the offer or cancel the booking. Dreamland Kart Pvt Ltd shall not refund the booking amount in such cases.</li>
                            <li>This offer cannot be clubbed with any other offer of Dreamland Kart.</li>
                            <li>Dreamland Kart Pvt Ltd reserves the right, at any time, without prior notice and liability and without assigning any reason whatsoever, to add/alter/modify/change or vary all of these terms and conditions or to replace, wholly or in part, this offer by another offer, whether similar to this offer or not, or to extend or withdraw it altogether.</li>
                            <li>For any card related claims, the customer shall approach the relevant bank and Dreamland Kart Pvt Ltd shall not entertain any such claims.</li>
                            <li>Dreamland Kart Pvt Ltd is the sole authority for interpretation of these terms.</li>
                            <li>Dreamland Kart Pvt Ltd shall not be liable for any loss or damage arising due to force majeure event.</li>
                            <li>In the event of any misuse or abuse of the offer by the customer or travel agent, Dreamland Kart Pvt Ltd reserves the right to deny the offer or cancel the booking.</li>
                            <li>In no event the entire liability of Dreamland Kart Pvt Ltd under this offer shall exceed the amount of promotional discount under this offer.</li>
                            <li>Dreamland Kart Pvt Ltd shall not be liable to for any indirect, punitive, special, incidental or consequential damages arising out of or in connection with the offer.</li>
                            <li>Disputes, if any, arising out of or in connection with this offer shall be subjected to the exclusive jurisdiction of the competent courts in Delhi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>