
<div class="hotel-section">
    <div class="section-title">
        <h3>Exclusive Hotel Deals</h3>
    </div>
    
    <div class="custom-tabbing">
        <div class="tabbing-header">
            <!-- <label class="tabLabel">From:</label> -->
            <div class="tabbing-scroll customScroll">
                <ng-container *ngFor="let tab of hotelList">
                    <span [ngClass]="{'active': tab?.isActive}" (click)="onChangeTab(tab)">{{tab.Name}}</span>
                </ng-container>
            </div>
        </div>
        <div class="tabbing-body">
            <ng-container *ngFor="let tab of hotelList">
                <div class="tab-inner" *ngIf="tab?.isActive">
                    <owl-carousel-o [options]="hotelOptions" class="homepageSlider">
                        <ng-container *ngFor="let slide of tab?.List; let i=index">
                            <ng-template class="slide" carouselSlide [id]="slide.Id">
                                <div class="hotel-card" (click)="gotoNext('hotels')">
                                    <div class="hotel-img">
                                        <img src="{{slide.img}}">
                                    </div>
                                    <div class="hotel-body">
                                        <div class="body-left">
                                            <div class="stars-rating">
                                                <i class="fa-solid fa-star" *ngFor="let star of slide?.Star"></i>
                                            </div>
                                            <label class="title cursor">{{slide.Name}}</label>
                                            <div class="location">
                                                <i class="fa-solid fa-location-dot"></i>
                                                {{slide.Location}}
                                            </div>
                                        </div>
                                        <div class="route-img">
                                            <img src="assets/images/offerbadge.png">
                                            <p>{{slide.Offer}}<span>OFF</span></p>
                                        </div>
                                    </div>
                                    <div class="hotel-footer">
                                        <div>
                                            <span>Starting from</span>
                                            <label class="price">{{slide.Price}}</label>
                                        </div>
                                        <button mat-flat-button class="book-now">Book Now</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </ng-container>
        </div>
    </div>
</div>