::ng-deep .company-profileModal {
    overflow-y: auto;
    max-width: 510px !important;
    @media only screen and (max-width: 767px) {
        height: 100%;
        min-width: 100%;
    }
    .mat-dialog-container{
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 7px 0px;
        border-radius: 10px;
        padding: 0;
        @media only screen and (max-width: 767px) {
            border-radius: 0;
        }
    }
}
.editProfile-container {
    .modalHeader {
        padding: 20px 30px 0;
        h1 {
            font-size: 26px;
            font-weight: 600;
            color: black;
            font-family: "Rubik", sans-serif;
            display: flex;
            padding-bottom: 15px;
            @media only screen and (max-width: 767px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .modalBody {
        padding: 15px 30px 30px;
        .modalInner {
            .profile-row {
                display: flex;
                justify-content: space-between;
                .flex50 {
                    width: calc(50% - 8px);
                }
                .flex33 {
                    width: calc(33.33% - 8px);
                }
            }
            .customSelect {
                width: 48%;
                display: flex;
                flex-direction: column;
                select {
                    width: 100%;
                    height: 42px;
                    display: flex;
                    appearance: none;
                    padding: 5px 30px 5px 10px;
                    border: 1px solid rgb(155, 155, 155);
                    background-color: rgb(255, 255, 255);
                    border-radius: 4px;
                    font-size: 14px;
                    color: rgb(74, 74, 74);
                    background-image: url(https://gos3.ibcdn.com/downarrow-1587111682.png);
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                    background-size: 11px;
                    cursor: pointer;
                    outline: 0;
                }
            }
        }
    }
    .modalFooter {
        display: flex;
        justify-content: flex-end;
        font-family: "Rubik", sans-serif;
        padding: 0 30px;
        margin-bottom: 30px;
        @media only screen and (max-width: 767px) {
            padding: 16px;
            justify-content: flex-end;
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-bottom: 0;
        }
        .cancelBtn {
            font-weight: 600;
            font-size: 16PX;
            color: rgb(74, 74, 74);
            cursor: pointer;
            outline: 0;
        }
        .saveBtn {
            border-radius: 4px !important;
            width: 140px;
        }
    }
}