<div class="row flightList">
  <div class="col-lg-3">
    <div class="search-filter">
      <div class="filter-head">
        <div class="tf-left">
          <i class="fa-solid fa-filter"></i>
          Filters
        </div>
        <button mat-button class="clear-btn" (click)="clearFilter('')">
          Clear All
        </button>
      </div>
      <div class="filter-row">
        <div class="filter-box">
          <div class="ft-head">
            <span class="tf-left">Applied Filters</span>
            <button mat-button class="clear-btn" (click)="clearFilter('')">
              Clear
            </button>
          </div>

          <ng-container *ngFor="let appliedFilter of filters">
            <div *ngIf="appliedFilter.isApplied">
              <div class="applied">
                <span>{{ appliedFilter.name }}</span> &nbsp;
                <span *ngIf="appliedFilter.category === 'Price'">{{appliedFilter.minValue}} - {{appliedFilter.maxValue}} </span>
                <span *ngIf="appliedFilter.category === 'Duration'">{{totalFlyTime(appliedFilter.minValue).replace(":","") }} - {{totalFlyTime(appliedFilter.maxValue).replace(":","")}} </span>
                <span [innerHTML]="appliedFilter.html"></span>
                <div class="tabClose">
                  <i
                    class="material-icons"
                    (click)="removeSingleFilter(appliedFilter)"
                    >close</i
                  >
                </div>
              </div>
            </div>
          </ng-container>

          <!-- <div>
            <div class="applied">
              <span>NON STOP</span>
              <div class="tabClose">
                <i class="material-icons">close</i>
              </div>
            </div>
          </div>
          <div>
            <div class="applied">
              <i class="material-icons plane">flight_takeoff</i>
              <span>MORNING DEPARTURES</span>
              <div class="tabClose">
                <i class="material-icons">close</i>
              </div>
            </div>
          </div> -->
        </div>

        <div class="filter-box">
          <div class="ft-head">
            <span class="tf-left">Sort By</span>
            <!-- <button mat-button class="clear-btn">Clear</button> -->
          </div>
          <div class="checkbox-container airline">
            <mat-radio-group
              aria-label="Select an option"
              (change)="sortBy($event.value)"
            >
              <mat-radio-button class="mat-radio-button-inline"  value="1" [checked]="search.orderBy == 1"
                >Cheapest &nbsp;</mat-radio-button
              >
              <mat-radio-button class="mat-radio-button-inline" value="2" [checked]="search.orderBy == 2"
                >Fastest</mat-radio-button
              >
              <mat-radio-button class="mat-radio-button-inline" value="3" [checked]="search.orderBy == 3"
              >Best Value </mat-radio-button
            >
            </mat-radio-group>
          </div>
        </div>
        
        

        <ng-container *ngFor="let filter of filterByCategory(filterCategories)">
          <ng-container [ngSwitch]="filter">
            <ng-container *ngSwitchCase="'Popular'">
              <div class="filter-box">
                <div class="ft-head">
                  <span class="tf-left">{{ filter }} Filters</span>
                  <button
                    mat-button
                    class="clear-btn"
                    (click)="clearFilter(filter)"
                  >
                    Clear
                  </button>
                </div>
                <div class="checkbox-container airline">
                  <ng-container
                    *ngFor="let filterValue of filterBy(filters, filter); index as i"
                  >
                    <mat-checkbox
                      class="customCheckbox"
                      [checked]="filterValue.isApplied"
                      [disabled]="filterValue.disabled"
                      (change)="applyFilter($event.checked, filterValue.id)"
                      [hidden]="i > filterValue.displayFilterLimit"
                    >
                      <div class="d-flex justify-content-between ml-2">
                        <span>{{ filterValue.name }} {{ filterValue.showMore }} </span>
                      </div>
                      <span>{{ filterValue.value }} </span>
                    </mat-checkbox>
                    
                  <button *ngIf=" filterValue.displayFilterLimit < i &&  i == (filterBy(filters, filter).length-1)" mat-button class="clear-btn" id="themeDark" (click)="showMore(filterValue)" >
                    <i class="material-icons plusIcon"> add </i>Show More
                  </button>

                  </ng-container>
                  <!-- <button [hidden]="filterBy(filters, filter)[0].displayFilterLimit == 2 " mat-button class="clear-btn" id="themeDark" (click)="showMore(filterBy(filters, filter)[0])" >
                    <i class="material-icons plusIcon"> add </i>Show More
                  </button> -->
                </div>
              </div>
            </ng-container>
          <ng-container *ngSwitchCase="'Layover Via Point'">
            <div class="filter-box">
              <div class="ft-head">
                <span class="tf-left">{{ filter }} Filters</span>
                <button
                  mat-button
                  class="clear-btn"
                  (click)="clearFilter(filter)"
                >
                  Clear
                </button>
              </div>
              <div class="checkbox-container airline">
                <ng-container
                *ngFor="let filterValue of filterBy(filters, filter); index as i"
              >
                  <mat-checkbox
                    class="customCheckbox"
                    (change)="applyLayOverPointFilter($event.checked,filterValue)"
                    [hidden]="i > filterValue.displayFilterLimit"
                  >
                    <div class="d-flex justify-content-between ml-2">
                      <span>{{ filterValue.name }} </span>
                    </div>
                  </mat-checkbox>
                  <button *ngIf="filterValue.displayFilterLimit < i && i == (filterBy(filters, filter).length-1)   
                  "mat-button class="clear-btn" id="themeDark" (click)="showMore(filterValue)" >
                    <i class="material-icons plusIcon"> add </i>Show More
                  </button>
                </ng-container>
                <!-- <button mat-button class="clear-btn" id="themeDark">
                  <i class="material-icons plusIcon"> add </i>Show More
                </button> -->
              </div>
            </div>
          </ng-container>
            <ng-container *ngSwitchCase="'Stops'">
              <div class="filter-box">
                <div class="ft-head">
                  <span class="tf-left">Stops</span>
                  <button
                    mat-button
                    class="clear-btn"
                    (click)="clearFilter(filter)"
                  >
                    Clear
                  </button>
                </div>
                <div class="flight-timeing">
                  <div
                    class="time-item stop"
                    [ngClass]="{ active: filterValue.isApplied }"
                    *ngFor="let filterValue of filterBy(filters, filter)"
                    [attr.disabled]="filterValue.disabled ? 'disabled' : ''"
                    (click)="modifyFilter(filterValue)"
                  >
                    <div class="d-flex flex-column">
                      <label>{{ filterValue.name }}</label>
                      <span [innerHTML]="filterValue.html"></span>
                      <span>{{ filterValue.value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Departure Time'">
              <div class="filter-box">
                <div class="ft-head">
                  <span class="tf-left">Departure Time</span>
                  <button
                    mat-button
                    class="clear-btn"
                    (click)="clearFilter(filter)"
                  >
                    Clear
                  </button>
                </div>
                <div class="flight-timeing">
                  <div
                    class="time-item"
                    [ngClass]="{ active: filterValue.isApplied }"
                    *ngFor="let filterValue of filterBy(filters, filter)"
                    [attr.disabled]="filterValue.disabled ? 'disabled' : ''"
                    (click)="modifyFilter(filterValue)"
                  >
                    <img
                      [src]="
                        filterValue?.isApplied
                          ? filterValue.activeImg
                          : filterValue.inActiveImg
                      "
                    />
                    <div class="d-flex flex-column">
                      <label>{{ filterValue.name }}</label>
                      <!-- <span [innerHTML]="(filterValue.html)"></span> -->
                      <span>{{ filterValue.value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Arrival Time'">
              <div class="filter-box">
                <div class="ft-head">
                  <span class="tf-left">Arrival Time</span>
                  <button
                    mat-button
                    class="clear-btn"
                    (click)="clearFilter(filter)"
                  >
                    Clear
                  </button>
                </div>
                <div class="flight-timeing">
                  <div
                    class="time-item"
                    [ngClass]="{ active: filterValue.isApplied }"
                    *ngFor="let filterValue of filterBy(filters, filter)"
                    [attr.disabled]="filterValue.disabled ? 'disabled' : ''"
                    (click)="modifyFilter(filterValue)"
                  >
                    <img
                      [src]="
                        filterValue?.isApplied
                          ? filterValue.activeImg
                          : filterValue.inActiveImg
                      "
                    />
                    <div class="d-flex flex-column">
                      <label>{{ filterValue.name }}</label>
                      <!-- <span [innerHTML]="(filterValue.html)"></span> -->
                      <span>{{ filterValue.value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Preferred Airline'">
              <span *ngFor="let filterValue of filter;"> </span>
              <div class="filter-box">
                <div class="ft-head">
                  <span class="tf-left">Preferred Airline</span>
                  <button
                    mat-button
                    class="clear-btn"
                    (click)="clearFilter(filter)"
                  >
                    Clear
                  </button>
                </div>
                <div class="checkbox-container airline">
                  <ng-container  *ngFor="let filterValue of filterBy(filters, filter); index as i">
                  <mat-checkbox
                    class="customCheckbox"
                    [checked]="filterValue.isApplied"

                    (change)="applyFilter($event.checked, filterValue.id)"
                    [hidden]="i > filterValue.displayFilterLimit"
                  >
                    <div>
                      <img src="assets/images/AK.gif" />
                      <span>{{ filterValue.name }} </span>
                    </div>
                    <span>{{ filterValue.value }} </span>
                  </mat-checkbox>
                  <button *ngIf="filterValue.displayFilterLimit < i && i == (filterBy(filters, filter).length-1)   
                  "mat-button class="clear-btn" id="themeDark" (click)="showMore(filterValue)" >
                    <i class="material-icons plusIcon"> add </i>Show More
                  </button>
                </ng-container>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Price'">
              
              <div class="filter-box" *ngFor="let filterValue of filterBy(filters, filter)">
                <div class="ft-head">
                  <span class="tf-left">Price Range </span>
                  <button mat-button class="clear-btn" (click)="clearFilter(filterValue)" >Clear</button>
                </div>
                <div class="range-slider">
                  <ngx-slider
                    [(value)]="minPrice"
                    [(highValue)]="maxPrice"
                    [options]="priceOption"
                    (userChangeEnd)="sliderOptionChange($event, filterValue)"
                  ></ngx-slider>
                  <div class="d-flex justify-content-between">
                    <span>₹{{ minPrice }}</span>
                    <span>₹{{ maxPrice }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'Duration'">
              

              <div class="filter-box"  *ngFor="let filterValue of filterBy(filters, filter)">
                <div class="ft-head">
                  <span class="tf-left">Duration</span>
                  <button mat-button class="clear-btn" (click)="clearFilter(filterValue)">Clear</button>
                </div>
                <div class="range-slider">
                  <ngx-slider
                    [(value)]="minDuration"
                    [(highValue)]="maxDuration"
                    [options]="durationOption"
                    (userChangeEnd)="sliderOptionChange($event, filterValue)"
                  ></ngx-slider>
                  <div class="d-flex justify-content-between">
                    <span class="time">{{ totalFlyTime(minDuration).replace(":","") }}</span>
                    <span>{{ totalFlyTime(maxDuration).replace(":","") }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

      

      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="calander-list">
      <owl-carousel-o [options]="flightClOptions">
        <ng-container *ngFor="let priceWithDate of priceWithDates">
          <ng-template
            class="slide"
            carouselSlide
            [id]="priceWithDate.Date.getDate().toString()"
          >
            <div
              (click)="selectedCalendarDate(priceWithDate.Date)"
              class="calender-item {{
                priceWithDate.Date.getDate() == search.segment[0].fromDate.day
                  ? 'active'
                  : ''
              }}"
            >
              <div class="tf-dates">
                {{ priceWithDate.Date | date : "d MMM" }}
              </div>
              <div class="tf-price">
                {{
                  priceWithDate.Price | currency : "INR" : "symbol" : "1.0-0"
                }}
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="calender-icon">
        <mat-form-field
          appearance="fill"
          class="example-form-field custom-datePicker"
          (click)="datepicker1.open()"
        >
          <input
            matInput
            class="date"
            [matDatepicker]="datepicker1"
            placeholder="5/16/2023"
            name="from"
          />
          <mat-datepicker-toggle [for]="datepicker1"></mat-datepicker-toggle>
          <mat-datepicker #datepicker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="multicityTable customScroll mb-4" *ngIf="isFlexi">
      <table class="table table-bordered m-0">
        <tbody>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">27 Nov</th>
            <th scope="col">28 Nov</th>
            <th scope="col">29 Nov</th>
            <th scope="col">30 Nov</th>
            <th scope="col">31 Nov</th>
            <th scope="col">1 Nov</th>
            <th scope="col">2 Nov</th>
          </tr>
          <tr>
            <th scope="row">28 Jul</th>
            <td>₹1234</td>
            <td>₹2210</td>
            <td>₹1234</td>
            <td class="cheap">
              <span class="cheapest text-danger">(cheapest)</span>₹1025
            </td>
            <td>₹2400</td>
            <td>₹1234</td>
            <td>₹1234</td>
          </tr>
          <tr>
            <th scope="row">29 Jul</th>
            <td>₹2530</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹4231</td>
            <td>₹1234</td>
            <td class="cheap">
              <span class="cheapest text-danger">(cheapest)</span>₹1025
            </td>
          </tr>
          <tr>
            <th scope="row">30 Jul</th>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹4235</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1234</td>
          </tr>
          <tr>
            <th scope="row">31 Jul</th>
            <td>₹1234</td>
            <td>₹4231</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹4563</td>
            <td>₹1234</td>
          </tr>
          <tr>
            <th scope="row">1 Jul</th>
            <td>₹1234</td>
            <td>₹2652</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹3254</td>
            <td>₹1234</td>
            <td>₹3262</td>
          </tr>
          <tr>
            <th scope="row">2 Jul</th>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹4112</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td class="cheap">
              <span class="cheapest text-danger">(cheapest)</span>₹1025
            </td>
            <td>2300</td>
          </tr>
          <tr>
            <th scope="row">3 Jul</th>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1548</td>
            <td>₹1234</td>
            <td>₹1234</td>
            <td>₹1574</td>
            <td>₹1234</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="search-list">
      <div
        class="ft-list"
        *ngFor="let journey of searchResult?.onwardJourneys; let i = index"
      >
        <div class="ft-body">
          <div class="flt-logo">
            <div class="flt-img">
              <img src="assets/images/6E.gif" />
            </div>
            <ul>
              <li>{{ source(journey.flights).carrier.name }}</li>
              <!-- <li>Indigo</li> -->
              <!-- <li>6E-787</li> -->
            </ul>
          </div>
          <div class="text-center">
            <span class="tf-highlight">{{
              source(journey.flights).depDetail.code
            }}</span>
            <ul>
              <li>
                {{ source(journey.flights).depDetail.time | date : "hh:mm a" }}
              </li>
              <!-- <li>Thu, 29 Sep 2022</li> -->
            </ul>
          </div>
          <div class="flt-bar">
            <ul>
              <li>
                <!-- {{
                  dateDiff(
                    source(journey.flights).depDetail.time,
                    destination(journey.flights).arrDetail.time
                  )
                }}  -->
                {{ totalFlyTime(journey.totalFlyTime) }}
              </li>
              <li *ngIf="journey.flights.length == 1">
                <span class="hrbar"></span>
              </li>

              <li class="redLine twoline" *ngIf="journey.flights.length > 1">
                <ng-container *ngFor="let item of journey.flights">
                  <span class="hrbar"></span>
                  &nbsp;
                </ng-container>
              </li>

              <li>
                {{ stops(journey.flights) }}
              </li>
            </ul>
          </div>
          <div class="text-center">
            <span class="tf-highlight">{{
              destination(journey.flights).arrDetail.code
            }}</span>
            <ul>
              <li>
                {{
                  destination(journey.flights).arrDetail.time | date : "hh:mm a"
                }}
              </li>
            </ul>
          </div>
          <div class="priceBox">
            <div class="flt-price">
              <span class="tf-price tf-price-discount">{{
                journey.fares.totalFare.total.amount
                  | currency : "INR" : "symbol" : "1.0-0"
              }}</span>
              <span class="tf-price">{{
                journey.fares.totalFare.total.amount
                  | discount : 10
                  | currency : "INR" : "symbol" : "1.0-0"
              }}</span>
            </div>
            <div class="btn-box">
              <button
                mat-flat-button
                class="green-btn"
                (click)="gotoNext('flightBooking')"
                *ngIf="i > 0"
              >
                BOOK NOW
              </button>
              <button
                mat-flat-button
                class="green-btn View-btn"
                (click)="onChange(journey)"
                *ngIf="i == 0"
              >
                VIEW FAIR
                <i
                  class="fa fa-chevron-down"
                  [ngClass]="{
                    active: i == 0 && journey.displaySavingFaireType
                  }"
                  aria-hidden="true"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="ft-footer">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <ng-container
                    *ngFor="let flight of journey.flights; index as i"
                  >
                    <span
                      class="tf-list-icon-label mr-0"
                      *ngIf="
                        i == 0 ||
                        flight.amenities.baggage.checkin.adt.qty !=
                          journey.flights[i - 1].amenities.baggage.checkin.adt
                            .qty ||
                        flight.amenities.baggage.cabin.adt.qty !=
                          journey.flights[i - 1].amenities.baggage.cabin.adt.qty
                      "
                      >{{ i > 0 ? "," : "" }} &nbsp;
                      {{ flight.carrier.code }} ({{ flight.flightNo }}) - &nbsp;
                      <img src="assets/images/baggage.png" alt="baggage" />{{
                        flight.amenities.baggage.checkin.adt.qty
                      }}
                      {{ flight.amenities.baggage.checkin.adt.unit }} Check-in /
                      {{ flight.amenities.baggage.cabin.adt.qty }}
                      {{ flight.amenities.baggage.cabin.adt.unit }} Cabin</span
                    >
                    <!-- Currently seats feature is not available in api -->
                    <!-- <span class="tf-list-icon-label">
                    <img src="assets/images/seat.png" alt="seat" id="seat" />
                    {{journey.seatsLeft}} Seat (S)</span
                  > --></ng-container
                  >
                </mat-panel-title>
                <mat-panel-description> Flight Details </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="accordianBody">
                <mat-tab-group class="flightDetailTab">
                  <mat-tab label="Flight Details">
                    <div class="ft-body" *ngFor="let flight of journey.flights">
                      <div class="flt-logo">
                        <div class="flt-img">
                          <img src="assets/images/6E.gif" />
                        </div>
                        <ul>
                          <li>{{ flight.carrier.name }}</li>
                          <li>{{ flight.flightNo }}</li>
                          <!-- <li>Indigo</li>
                          <li>6E-787</li> -->
                        </ul>
                      </div>
                      <div class="text-center">
                        <span class="tf-highlight">{{
                          flight.depDetail.code
                        }}</span>
                        <ul>
                          <li>
                            {{ flight.depDetail.time | date : "hh:mm a" }}
                          </li>
                          <li>
                            {{
                              flight.depDetail.time | date : "EEE, MMMM d, y"
                            }}
                          </li>
                        </ul>
                      </div>
                      <div class="flt-bar">
                        <ul>
                          <li>
                            <!-- {{

                              dateDiff(
                                flight.depDetail.time,
                                flight.arrDetail.time
                              )
                            }} -->
                            {{ totalFlyTime(journey.totalFlyTime) }}
                          </li>
                          <li><span class="hrbar"></span></li>
                          <li>Non Stop</li>
                        </ul>
                      </div>
                      <div class="text-center">
                        <span class="tf-highlight">{{
                          flight.arrDetail.code
                        }}</span>
                        <ul>
                          <li>
                            {{ flight.arrDetail.time | date : "hh:mm a" }}
                          </li>
                          <li>
                            {{
                              flight.arrDetail.time | date : "EEE, MMMM d, y"
                            }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Fare Detalis & Rules">
                    <table class="table table-bordered m-0">
                      <tbody>
                        <tr>
                          <td class="bg-light">Base Fare (1 Adult)</td>
                          <!-- <td>₹4,199</td> -->
                          <td>
                            {{
                              journey.fares.totalFare.base.amount
                                | currency : "INR" : "symbol" : "1.0-0"
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td class="bg-light">Taxes and Fees (1 Adult)</td>
                          <!-- <td>₹846</td> -->
                          <td>
                            {{
                              journey.fares.totalFare.tax.amount
                                | currency : "INR" : "symbol" : "1.0-0"
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td class="bg-light">Total Fare (1 Adult)</td>
                          <!-- <td>₹5,045</td> -->
                          <td>
                            {{
                              journey.fares.totalFare.total.amount
                                | currency : "INR" : "symbol" : "1.0-0"
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-tab>
                  <mat-tab label="Baggage Info">
                    <mat-tab-group class="flightDetailTab">
                      <ng-container
                        *ngFor="let flight of journey.flights; index as i"
                      >
                        <mat-tab
                          *ngIf="
                            i == 0 ||
                            flight.amenities.baggage.checkin.adt.qty !=
                              journey.flights[i - 1].amenities.baggage.checkin
                                .adt.qty ||
                            flight.amenities.baggage.cabin.adt.qty !=
                              journey.flights[i - 1].amenities.baggage.cabin.adt
                                .qty
                          "
                        >
                          <ng-template mat-tab-label>
                            <div class="flt-baggage mt-2">
                              <img src="assets/images/6E.gif" />
                              <p class="baggage-para-1">
                                {{ flight.depDetail.code }} -
                                {{ flight.depDetail.code }}
                              </p>
                              <p class="baggage-para-2">
                                {{ flight.flightNo }}
                              </p>
                            </div>
                          </ng-template>
                          <table class="table table-bordered m-0">
                            <tbody>
                              <tr>
                                <td class="bg-light">Baggage Type</td>
                                <td>Check-In</td>
                                <td>Cabin</td>
                              </tr>
                              <tr>
                                <td class="bg-light">ADULT</td>
                                <td>
                                  {{ flight.amenities.baggage.checkin.adt.qty }}
                                  {{
                                    flight.amenities.baggage.checkin.adt.unit
                                  }}
                                </td>
                                <td>
                                  {{ flight.amenities.baggage.cabin.adt.qty }}
                                  {{ flight.amenities.baggage.cabin.adt.unit }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </mat-tab>
                      </ng-container>
                    </mat-tab-group>
                  </mat-tab>
                  <mat-tab label="Cancellation & Change Rule">
                    <div class="flt-baggage">
                      <img src="assets/images/6E.gif" />
                      <p class="baggage-para-1">DEL-BLR</p>
                      <p class="baggage-para-2">(6E-787)</p>
                    </div>
                    <div class="row m-0">
                      <div class="col-lg-6 pl-0 pr-lg-3 mb-3 mb-lg-0">
                        <label class="charges d-block"
                          >Cancellation Charges</label
                        >
                        <table class="table table-bordered m-0">
                          <tbody>
                            <tr>
                              <td class="bg-light">Dreamland fee</td>
                              <td>₹300</td>
                            </tr>
                            <tr>
                              <td class="bg-light">0-2 hours</td>
                              <td>Non Refundable</td>
                            </tr>
                            <tr>
                              <td class="bg-light">2-72 hours</td>
                              <td>₹3,500</td>
                            </tr>
                            <tr>
                              <td class="bg-light">>72 hours</td>
                              <td>₹3,000</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-lg-6 pr-0">
                        <label class="charges d-block"
                          >Reschedule Charges</label
                        >
                        <table class="table table-bordered m-0">
                          <tbody>
                            <tr>
                              <td class="bg-light">Dreamland fee</td>
                              <td>₹300</td>
                            </tr>
                            <tr>
                              <td class="bg-light">0-2 hours</td>
                              <td>Non Refundable</td>
                            </tr>
                            <tr>
                              <td class="bg-light">2-72 hours</td>
                              <td>₹3,250</td>
                            </tr>
                            <tr>
                              <td class="bg-light">>72 hours</td>
                              <td>₹2,750</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!-- <ng-container *ngIf="item?.isActive"> -->
        <ng-container *ngIf="journey.displaySavingFaireType">
          <div>
            <!-- Desktop View -->
            <div
              class="ft-body viewFare"
              *ngFor="let subItem of [1, 2, 3, 4]; let subIndex = index"
            >
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0">FARES</span>
                <ul>
                  <li class="titletext">
                    {{
                      subItem === 1
                        ? "Saver"
                        : subItem === 4
                        ? "Flexi"
                        : "SME Fare"
                    }}
                  </li>
                  <li>
                    <mat-checkbox
                      class="customCheckbox"
                      (change)="onCheckbox(subItem)"
                    >
                      <div class="d-flex align-items-baseline">
                        <div class="whatsapp">
                          <img src="assets/images/whatsapp.png" />
                        </div>
                        <span class="text">Share</span>
                      </div>
                    </mat-checkbox>
                  </li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0"
                  >CABIN BAG</span
                >
                <ul>
                  <li>7 Kgs</li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0"
                  >CHECK-IN</span
                >
                <ul>
                  <li>15 Kgs</li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0"
                  >CANCELLATION</span
                >
                <ul>
                  <li>Non-refundable fare</li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0"
                  >DATE CHANGE</span
                >
                <ul>
                  <li>Not allowed</li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0">SEAT</span>
                <ul>
                  <li>Chargeable</li>
                </ul>
              </div>
              <div>
                <span class="tf-highlight" *ngIf="subIndex === 0">MEAL</span>
                <ul>
                  <li>Chargeable</li>
                </ul>
              </div>
              <div class="flt-price">
                <span class="tf-price tf-price-discount">₹8872</span>
                <span class="tf-price">₹7,712</span>
              </div>
              <div class="btn-box">
                <button
                  mat-flat-button
                  class="green-btn"
                  (click)="gotoNext('flightBooking')"
                >
                  BOOK NOW
                </button>
              </div>
            </div>

            <!-- Mobile View -->
            <div class="moreRight">
              <mat-radio-group
                class="customRadioGroup"
                [(ngModel)]="selectedType"
                *ngFor="let item of fareList; let subIndex = index"
              >
                <mat-radio-button value="{{ item.btnVal }}">
                  <div class="moreCard">
                    <div class="moreCardData">
                      <div
                        class="d-flex align-items-center justify-content-between w-100"
                      >
                        <h4>{{ item.fares }}</h4>
                        <h4>{{ item.prices }}</h4>
                      </div>
                    </div>
                    <p *ngIf="item?.p">{{ item.p }}</p>
                    <div
                      class="moreContent"
                      *ngFor="let submenu of item?.child"
                    >
                      <div class="moreDetail">
                        <div class="d-flex">
                          <div class="moreDImg">
                            <img src="{{ submenu.img }}" />
                          </div>
                          <span class="bold">{{ submenu.boldSpan }}</span>
                        </div>
                        <span>{{ submenu.span }}</span>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center btn-box"
                    >
                      <mat-checkbox
                        class="customCheckbox"
                        (change)="onCheckbox(item)"
                      >
                        <div class="d-flex align-items-baseline">
                          <div class="whatsapp">
                            <img src="assets/images/whatsapp.png" />
                          </div>
                          <span class="text">Share</span>
                        </div>
                      </mat-checkbox>
                      <button
                        mat-flat-button
                        class="green-btn"
                        (click)="gotoNext('flightBooking')"
                      >
                        BOOK NOW
                      </button>
                    </div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
