@import "./../../../../assets/scss/variable.scss";

.flightList {
    .col-lg-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-filter {
        box-shadow: 0px 1px 3px rgb(0 0 0 / 35%);
        border-radius: 12px;
        background-color: #fff;
        @media only screen and (max-width: 991px) {
           display: none;
        }
        .filter-head {
            background-color: $themeDark;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0 0;
            padding: 2px 2px 2px 12px;
            color: #fff;
            font-family: "Segoe-Bold";
            min-height: 42px;
        }
        .filterTab {
            display: flex;
            background-color: #daf2fc;
            margin-top: 10px;
            .tabItem {
                width: 50%;
                padding: 9px 15px;
                text-align: center;
                background-color: #daf2fc;
                cursor: pointer;
                font-family: "Segoe-Bold";
                font-size: 16px;
                &.active {
                    background-color: #0254a0;
                    color: #ffffff;
                }
            }
        }
        .clear-btn {
            border-radius: 20px;
            min-height: 24px;
            padding: 0 10px;
            outline: 0;
            font-size: 12px;
            line-height: 20px;
            min-width: auto;
            font-family: "Rubik", sans-serif;
        }
        #themeDark {
            color: $themeDark !important;
            .plusIcon {
                font-size: 15px;
            }
        }
        .filter-row {
            .filter-box {
                padding: 14px 0px;
                margin: 0px 12px;
                border-bottom: 2px solid #f9f9f9;
                .ft-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 4px;
                    .tf-left {
                        font-family: "Segoe-Bold";
                    }
                    .clear-btn {
                        margin-right: -10px;
                        color: $themeDark;
                    }
                }
                .applied {
                    background: #ECF8FD;
                    display: inline-flex;
                    align-items: center;
                    padding: 4px 5px 4px 8px;
                    border-radius: 15px;
                    margin-bottom: 5px;
                    span {
                       
                        font-size: 10px;
                        line-height: 15px;
                        font-weight: 400;
                        color: #000;
                    }
                    .tabClose {
                        width: 16px;
                        height: 16px;
                        background: #04A2E4;
                        color: #fff;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 8px;
                        i {
                            font-size: 11px;
                            line-height: 12px;
                            cursor: pointer;
                        }
                    }
                    .plane {
                        margin-right: 4px;
                        font-size: 15px;
                    }
                }
                .checkbox-container {
                    .mat-checkbox {
                        display: block;
                    }
                }
                .airline {
                    margin-top: 10px;
                    ::ng-deep .customCheckbox {
                        display: flex;
                        margin-right: 0;
                        .mat-checkbox-layout {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .mat-checkbox-inner-container {
                                margin: 0;
                            }
                            .mat-checkbox-label {
                                flex: 1;
                                display: flex;
                                justify-content: space-between;
                                img {
                                    width: 20px;
                                    margin:0 12px;
                                }
                            }
                        }
                    }
                }
                .range-slider {
                    ::ng-deep ngx-slider {
                        .ngx-slider-bar {
                            height: 7px;
                            border-radius: 10px;
                        }
                        .ngx-slider-pointer {
                            width: 24px;
                            height: 24px;
                            top: -9px;
                            background-color: #ffffff;
                            border: 2px solid #dfdfdf;
                        }
                        .ngx-slider-limit {
                            display: none;
                            visibility: hidden !important;
                        }
                        .ngx-slider-pointer{
                            outline: 0;
                            z-index: 1;
                            &::after {
                                top: 7px;
                                left: 7px;
                                background: #fff;
                            }
                        }
                        .ngx-slider-bubble {
                            bottom: -35px;
                            opacity: 0 !important;
                        }
                        .ngx-slider-selection {
                            background: linear-gradient(to right, #005494, #04A7EA);
                            height: 7px;
                        }
                        .ngx-slider-model-value,.ngx-slider-model-high {
                            display: none;
                        }
                    }
                }
                mat-slider {
                    height: 40px;
                    min-width: 100%;
                }
                ::ng-deep .mat-slider-thumb-label {
                    display: flex;
                    top: -43px;
                    height: 25px;
                    width: 25px;
                    .mat-slider-thumb-label-text {
                        font-size: 10px;
                        font-weight: 600;
                    }
                }
            }
            .flight-timeing {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .time-item {
                    border: 1px solid #e7e7e7;
                    padding: 4px 4px;
                    text-align: center;
                    width: calc(25% - 0px);
                    cursor: pointer;
                    // display: flex;
                    align-items: center;
                    margin: 5px 0;
                    cursor: pointer;
                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }
                    &:last-child {
                        border-radius: 0 4px 4px 0
                    }
                    &.stop {
                        width: calc(33.33% - 5px);
                        height: 55px;
                        justify-content: center;
                        border-radius: 4px;
                        span {
                            text-align: center;
                        }
                    }
                    &.active {
                        background-color: $themeLight;
                        color: #fff;
                    }
                    img {
                        width: 34px;
                        // margin-right: 4px;
                    }
                    label {
                        font-size: 9px;
                        line-height: 14px;
                        font-family: "Rubik", sans-serif;
                        font-weight: 500;
                        margin: 0;
                        cursor: pointer;
                    }
                    span {
                        font-size: 10px;
                        line-height: 14px;
                        font-family: "Rubik", sans-serif;
                        font-weight: 500;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
    .calander-list {
        background-color: #ECF8FD;
        color: #000;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        ::ng-deep owl-carousel-o {
            width: 92%;
            .owl-carousel {
                position: relative;
                padding: 0px 40px;
            }
            .owl-nav {
                margin: 0;
                .owl-prev, .owl-next {
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    font-weight: 600;
                    transform: translateY(-50%);
                    font-size: 2rem;
                    margin: 0;
                    background: transparent !important;
                    color: #005494 !important;
                    @media only screen and (max-width: 576px) {
                        font-size: 24px;
                    }
                }
                .owl-next {
                    left: unset;
                    right: 0px;
                }
            }
        }
        .calender-item {
            text-align: center;
            border-right: 3px solid rgb(0 84 148 / 50%);
            padding: 0px 10px;
            .tf-dates {
                font-size: 13px;
                font-family: "Rubik", sans-serif;
            }
            .tf-price {
                font-weight: 600;
                font-size: 1rem;
                font-family: "Rubik", sans-serif;
            }
        }
        .calender-icon {
            width: 8%;
            ::ng-deep .custom-datePicker {
                width: 0;
                .mat-datepicker-toggle {
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    @media only screen and (max-width: 576px) {
                        width: 25px;
                    }
                }
                .mat-form-field-wrapper {
                    padding: 0;
                }
                .mat-form-field-flex {
                    padding: 0;
                }
                .mat-input-element {
                    display: none;
                }
                .mat-icon-button {
                    color: $themeOrange;
                    position: relative;
                    top: -4px;
                }
            }
        }
    }
    .multicityTable {
        overflow: auto;
        .table {
            th {
                background: #005494;
                border: 1px solid #dee2e6;
                color: #fff;
                @media only screen and (max-width: 767px) {
                    font-size: 10px;
                    line-height: 14px;
                    padding: 5px;
                    height: 38px;
                    text-align: center;
                    white-space: nowrap;
                }
            }
            td {
                background: #ECF8FD;
                // background: #dee2e6;
                line-height: 16px;
                border: 1px solid #dee2e6;
                @media only screen and (max-width: 767px) {
                    font-size: 10px;
                    line-height: 14px;
                    padding: 5px;
                    height: 38px;
                    text-align: center;
                }
                &.cheap {
                    display: flex;
                    flex-direction: column-reverse;
                    border: none;
                    .cheapest{
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
    .search-list {
        .whatsapp {
            width: 20px;
            height: 20px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media only screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 16px;
            }
        }
        .text {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            display: block;
            color: #0f9d58;
            margin-left: 2px;
            @media only screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
        .customCheckbox {
            margin: 0;
            display: flex;
            padding: 4px 6px;
            border-radius: 4px;
            border: 1px solid #a5dac0;
            // @media only screen and (max-width: 576px) {
            //    padding: 2px;
            // }
        }
        .green-btn {
            font-size: 12px;
            min-height: 36px;
            padding: 0px 20px;
        }
        .ft-list {
            font-family: 'RUBIK',sans-serif;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
            border-radius: 8px;
            overflow: hidden;
            background-color: #ffffff;
            margin-bottom: 10px;
            color: #232323;
            font-size: 0.8rem;
            .ft-body {
                padding:10px;
                display: grid;
                text-align: center;
                grid-template-columns: auto repeat(4, 1fr) auto;
                align-items: center;
                justify-content: space-between;
                @media only screen and (max-width: 767px) {
                    padding: 10px 5px;
                }
                &.viewFare {
                    box-shadow: 0 0 2px 0 #d7dce2;
                    display: flex;
                    align-items: flex-start;
                    font-family: 'RUBIK',SANS-SERIF;
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                    .tf-highlight {
                        font-size: 10px;
                        line-height: 14px;
                        font-weight: 500;
                        margin-bottom: 8px;
                        text-align: left;
                        display: block;
                    }
                    .titletext {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 600;
                        color: #000;
                        margin-bottom: 4px;
                    }
                    li {
                        text-align: left;
                    }
                }
                .flt-logo{
                    .flt-img {
                        img {
                            height: 20px;
                        }
                    }
                }
                ul {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    li {
                        display: block;
                        font-family: 'RUBIK',SANS-SERIF;
                        color: #232323;
                        font-size: 13px;
                        line-height: 15px;
                        font-weight: 400;
                        list-style: none;
                        @media only screen and (max-width: 576px) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
            .tf-highlight {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                margin-bottom: 8px;
                // @media only screen and (max-width: 576px) {
                //     font-size: 13px;
                //     line-height: 15px;
                // }
            }
            .priceBox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                @media only screen and (max-width: 576px) {
                    flex-direction: column;
                }
            }
            .flt-price {
                margin-right: 10px;
                @media only screen and (max-width: 576px) {
                   margin-right: 0;
                }
                .tf-price {
                    color: #ee5f2b;
                    font-size: 1rem;
                    line-height: 20px;
                    font-weight: 600;
                    @media only screen and (max-width: 576px) {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
                .tf-price-discount {
                    display: block;
                    text-decoration: line-through;
                    font-size: 13px;
                    @media only screen and (max-width: 576px) {
                        display: none;
                    }
                }
            }
            .hrbar {
                height: 3px;
                width: 70px;
                background-color: #649a28;
                margin: 2px auto;
                display: block;
                @media only screen and (max-width: 576px) {
                   width: 50px;
                }
            }
            .redLine {
                .hrbar {
                    background-color: #e83838;
                }
                // .active {
                //     width: 32px;
                // }
                &.twoline {
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto;
                    width: 70px;
                    .hrbar {
                        width: calc(50% - 2px);
                        margin: 2px 0;
                    }
                }
            }
            .moreRight {
                display: none;
                flex: 1;
                padding: 2px;
                flex-wrap: wrap;
                @media only screen and (max-width: 768px) {
                    padding: 10px;
                    display: flex;
                }
                ::ng-deep .customRadioGroup {
                    flex-direction: unset !important;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    display: inline-flex;
                    width: 100%;
                    font-family: 'RUBIK',SANS-SERIF;
                    @media only screen and (max-width: 768px) {
                        justify-content: space-around;
                    }
                    .mat-radio-button {
                        width: 100%;
                        padding: 10px;
                        position: relative;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        background: #f9f9f9;
                        margin-bottom: 10px;
                        &.mat-radio-checked {
                            background: #f7fbff;
                            border: 1px solid rgba(0,140,255,.6);
                        }
                        .mat-radio-ripple{
                            display: none;
                        }
                        .mat-radio-label {
                            margin: 0;
                            align-items: flex-start;
                            .mat-radio-label-content {
                                width: 100%;
                            }
                        }
                        .moreCard {
                            @media only screen and (max-width: 768px) {
                                width: unset;
                                margin-right: 0;
                            }
                            
                            .moreCardData {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-bottom: 5px;
                            }
                            h4 {
                                font-size: 14px;
                                line-height: 21px;
                                font-weight: 500;
                                margin: 0;
                                color: #000;
                            }
                            p {
                                font-size: 14px;
                                line-height: 21px;
                                font-weight: 400;
                                white-space: normal;
                                margin: 0 0 10px;
                                color: #212529;
                            }
                            .moreContent {
                                .moreDetail {
                                    display: flex;
                                    align-items: flex-start;
                                    margin-bottom: 6px;
                                    .d-flex {
                                        width: 120px;
                                    }
                                    .moreDImg {
                                        width: 24px;
                                        height: 24px;
                                        margin-right: 10px;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    span {
                                        flex: 1;
                                        font-size: 12px;
                                        line-height: 18px;
                                        white-space: normal;
                                        font-weight: 400;
                                        display: block;
                                        color: #4a4a4a;
                                        &.bold {
                                            font-weight: 500;
                                        }
                                    }
                                }
                                .arrow {
                                    font-size: 12px;
                                    line-height: 18px;
                                    font-weight: 400;
                                    color: #0091ff;
                                    display: block;
                                    i {
                                        font-size: 10px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-box {
        .green-btn {
            width: 130px;
            background: $themeGreen;
            color: #fff;
            font-weight: 500;
            border-radius: 20px;
            outline: 0;
            min-height: 40px;
            padding: 0px 27px;
            font-family: "Rubik", sans-serif;
            @media only screen and (max-width: 576px) {
                width: 75px;
                padding: 0 6px;
                font-size: 10px;
                line-height: 13px;
                min-height: 25px;
            }
            &.View-btn{
                border: 1px solid #649A28;
                background: rgb(100 154 40 / 12%);
                color: #649a28;
            }
            i {
                font-size: 14px;
                margin-left: 5px;
                margin-bottom: 3px;
                @media only screen and (max-width: 576px) {
                    font-size: 9px;
                    margin-left: 2px;
                    margin-bottom: 2px;
                }
            }
            .active {
                transform: rotate(180deg);
            }
        }
    }
    .ft-footer {
        ::ng-deep mat-accordion{
            .mat-expansion-panel {
                border-radius: 0 !important;
                box-shadow: none;
            }
            mat-expansion-panel-header {
                cursor: pointer;
                background: #daf2fc !important;
                font-family: "Segoe-Bold";
                height: 32px;
                padding: 0 12px;
                // @media only screen and (max-width: 576px) {
                //     font-size: 9px;
                //     line-height: 12px;
                //     height: auto;
                //     min-height: 20px;
                //     padding: 4px 12px;
                // }
                mat-panel-title {
                    span.tf-list-icon-label {
                        margin-right: 12px;
                        display: flex;
                        font-size: 12px;
                        align-items: center;
                        img {
                            height: 20px;
                            margin-right: 6px;
                            // @media only screen and (max-width: 576px) {
                            //     height: 16px;
                            // }
                        } 
                    }
                }
                .mat-expansion-panel-header-title{
                    display: flex;
                    flex-wrap: wrap;
                    @media only screen and (max-width: 1024px) {
                        display: none;
                    }
                }
                .mat-expansion-panel-header-description {
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    color: $themeGreen;
                    font-size: 13px;
                    margin-right: 6px;
                }
                .mat-expansion-indicator {
                    display: flex;
                    &::after {
                        border-color: $themeGreen;
                        top: -3px;
                        position: relative;
                    }
                }               
            }
            .mat-expansion-panel-body {
                padding: 0 16px 16px;
                @media only screen and (max-width: 576px) {
                    padding: 0 6px 6px;
                }
            }
            ::ng-deep .flightDetailTab {
                margin-top: 10px;
                .mat-tab-body-content {
                    padding: 16px 0 0;
                    .table {
                        tbody {
                            tr {
                                td {
                                    @media only screen and (max-width: 767px) {
                                        font-size: 11px;
                                        white-space: nowrap;
                                        padding: 8px;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
                .mat-tab-header {
                    border-bottom: none;
                    background: rgb(218 242 252 / 50%);
                    border-radius: 8px;
                }
                .mat-tab-labels {
                    justify-content: space-between;
                    .mat-tab-label {
                        height: 32px;
                        padding: 0 16px;
                        min-width: unset;
                        color: #232323;
                        opacity: 1;
                        font-family: "Rubik", sans-serif;
                        font-size: 12px;
                        line-height: 16px;
                        // @media only screen and (max-width: 576px) {
                        //     font-size: 10px;
                        //     line-height: 14px;
                        //     height: 25px;
                        // }
                        &.mat-tab-label-active {
                            background: $themeDark;
                            color: #fff;
                        }
                    }
                }
                mat-ink-bar {
                    height: 0;
                }
                .ft-body {
                    display: flex !important;
                    justify-content: space-between;
                    border: 1px solid #dfdfdf;
                    border-radius: 8px;
                }
                .flt-baggage {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    margin: 0 0 10px;
                    img {
                        margin-right: 8px;
                        width: 24px;
                        @media only screen and (max-width: 576px) {
                            width: 20px;
                        }
                    }
                    .baggage-para-1 {
                        margin: 0;
                        color: black;
                        font-family: "Segoe-Bold";
                        @media only screen and (max-width: 576px) {
                            font-size: 13px;
                            line-height: 15px;
                        }
                    }
                    .baggage-para-2 {
                        font-size: 12px;
                        color: #666;
                        padding-left: 5px;
                        margin: 0;
                        @media only screen and (max-width: 576px) {
                            font-size: 11px;
                            line-height: 13px;
                        }
                    }
                }
                .col-lg-6 {
                    padding: 0;
                }
                .charges {
                    font-family:"Segoe-Bold";
                }
                .table {
                    font-family: "Segoe-Regular";
                }
            }
        }
    }
}

.tf-price{
    font-weight: unset !important;
}

.active .tf-price {
	font-weight: 600 !important;
}

.active .tf-dates  {
	font-weight: 600 !important;
}

div[disabled=disabled] {
    pointer-events: none;
    opacity: 0.4;
  }

   .mat-radio-button-inline {
    display: block !important;
  }