<div class="profile-page">
    <div class="container">
        <div class="profileInner">
            <div class="profile-pageInner">
                <div class="picture-inner">
                    <img src="./assets/images/logo.png" alt="">
                    <div class="addlogobtn">
                        <input type="file" name="inputImage" id="btnInput">
                        <p>Add Logo</p>
                    </div>
                </div>
                <h3 class="profileName">DREAMLAND KART PRIVATE LIMITED</h3>
                <ul class="profileMenu">
                    <li class="active"><svg xmlns="http://www.w3.org/2000/svg" margin="0 1rem 0 0" class="ProfileIcon-sc-1qeuq78-0 irDyAX"><g fill="#E8F4FF" stroke="#008CFF" stroke-width="1.5" transform="translate(5 5)" fill-rule="evenodd"><path d="M7 6a7 7 0 017 7v1.734h0H0V13a7 7 0 017-7z"></path><circle cx="7" cy="4" r="4"></circle></g></svg>Profile</li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" margin="0 1rem 0 0" class="CompanyIcon__ComapnyIcon-sc-vhjc4m-0 frIBTO"><g fill="#4A4A4A" fill-rule="evenodd" stroke="#4A4A4A" stroke-width="0.3"><path d="M4.275 9.875c0 .075.025.15.05.225.025.025.05.075.075.1.025.025.025.05.05.075 0 0 0 0 0 0l3.175 3.175a.558.558 0 00.8 0 .652.652 0 000-.875l-2.225-2.3h11.025c.3 0 .575-.25.575-.575a.566.566 0 00-.575-.575H6.2l2.225-2.15c.225-.225.225-.55 0-.75-.225-.225-.575-.2-.8.025L4.45 9.475s0 0 0 0c-.025.025-.05.05-.05.1-.025.025-.05.05-.05.1a.399.399 0 00-.075.2h0z"></path><path d="M12.6 13.5v4.4H1.35V2.15H12.6v4.125h1.125v-4.15C13.725 1.5 13.25 1 12.675 1h-11.4C.7 1 .225 1.5.225 2.125v15.75C.225 18.5.7 19 1.275 19H12.7c.575 0 1.05-.5 1.05-1.125V13.5H12.6z"></path></g></svg>Company Details</li>
                </ul>
            </div>
            <div class="profile-info" >
                <div class="profileSection">
                    <div class="profile-inner profilePad">
                        <div class="loadingBar">
                            <p class="d-flex justify-content-between mb-1">
                                <span class="f-bold progressPara">Complete your Profile</span>
                                <span class="f-bold">75%</span>
                            </p>
                            <mat-progress-bar class="progressBar" mode="determinate" value="75"></mat-progress-bar>
                        </div>
                        <span class="progressPara">Get the best out of Dreamland by adding the remaining details!</span>
                        <div class="process">
                            <div class="d-flex align-items-center processInner">
                                <div class="Verified Email"></div>
                                <span class="F-blue">Verified Email ID</span>
                            </div>
                            <div class="d-flex align-items-center processInner">
                                <div class="Verified Email"></div>
                                <span class="F-blue">Verified mobile Number</span>
                            </div>
                            <div class="d-flex align-items-center processInner">
                                <div class="CompleteInfo">
                                    <i class="material-icons F-blue">add_circle</i>
                                </div>
                                <span>Complete Basic Info</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profileSection">
                    <div class="profileHeadding">
                        <div class="heading-inner">
                            <p>Profile</p>
                            <span>Basic info about your company</span>
                        </div>
                    </div>
                    <div class="profile-inner">
                        <div class="details">
                            <div class="left-details">
                                <p>FULL NAME</p>
                            </div>
                            <div class="right-details">
                                <p>piyush singh</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>MOBILE NUMBER</p>
                            </div>
                            <div class="right-details">
                                <p>9876543210</p>
                                <div class="update">
                                    <span class="updateDetails">Update</span>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>E-MAIL ID</p>
                            </div>
                            <div class="right-details">
                                <p>Loremipsum@gmail.com</p>
                                <div class="update">
                                    <i class="material-icons">check_circle</i>
                                    <p class="Verified">Verified</p>
                                </div>
                                <div class="update dNone576">
                                    <span class="updateDetails">Edit</span>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>PAN CARD</p>
                            </div>
                            <div class="right-details">
                                <p>abcde1234f</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>GSTIN</p>
                            </div>
                            <div class="right-details">
                                <p>01ABCDE2345F6GH</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>AADHAAR NUMBER</p>
                            </div>
                            <div class="right-details">
                                <p>123456789012</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details" id="left-details">
                                <p>BENEFIT TDS</p>
                                <span>Applicable on wallet benefits, such as Deposit Incentive and Hero Cashback</span>
                            </div>
                            <div class="right-details">
                                <p>10%</p>
                                <span>
                                    As per the taxation laws, agents with a valid PAN will be treated as ITR compliant if they are timely submitting tax returns
                                    <br>
                                    <br>
                                    A TDS rate of 5% on commission and 10% on benefits is applicable for ITR Compliant Agents.
                                    <br>
                                    A TDS rate of 10% on commission and 20% on benefits is applicable for ITR Non-compliant Agents
                                    <br>
                                    For all cases where ITR compliant check cannot be established, TDS will be withheld at the rate of 20% for both commission and benefits
                                </span>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details" id="left-details">
                                <p>BOOKING TDS</p>
                                <span>Applicable on commission earned through Flight and Hotel bookings</span>
                            </div>
                            <div class="right-details">
                                <p>5%</p>
                                <div class="update">
                                    <span class="updateDetails">Update</span>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>TAXATION AGREEMENT</p>
                            </div>
                            <div class="right-details">
                                <span class="fs-11">AGREEMENT ACCEPTED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profileSection">
                    <div class="profileHeadding">
                        <div class="heading-inner">
                            <p>Company Details</p>
                            <span>Manage company address and other details</span>
                        </div>
                        <div class="edit-btn" mat-button (click)="openDialog()">
                            <i class="material-icons">edit</i>
                            <p>Edit</p>
                        </div>
                    </div>
                    <div class="profile-inner">
                        <div class="details">
                            <div class="left-details">
                                <p>COMPANY NAME</p>
                            </div>
                            <div class="right-details">
                                <p>DREAMLAND KART PRIVATE LIMITED</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>BUSINESS TYPE</p>
                            </div>
                            <div class="right-details">
                                <p>Private Limited Company</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>COMPANY ADDRESS</p>
                            </div>
                            <div class="right-details">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>CITY</p>
                            </div>
                            <div class="right-details">
                                <p>CENTRAL DELHI</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>STATE</p>
                            </div>
                            <div class="right-details">
                                <p>Delhi</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>PIN CODE</p>
                            </div>
                            <div class="right-details">
                                <p>123456</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details" id="left-details">
                                <p>SECONDARY E-MAIL ID</p>
                            </div>
                            <div class="right-details">
                                <P>Null</P>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details" id="left-details">
                                <p>SECONDARY MOBILE NUMBER</p>
                            </div>
                            <div class="right-details">
                                <P>Null</P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profileSection">
                    <div class="profileHeadding">
                        <div class="heading-inner">
                            <p>Support Details</p>
                        </div>
                    </div>
                    <div class="profile-inner">
                        <div class="details">
                            <div class="left-details">
                                <p>24/7 CUSTOMER SUPPORT</p>
                            </div>
                            <div class="right-details">
                                <p>9876543210</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>IVR SECURITY CODE</p>
                            </div>
                            <div class="right-details">
                                <p>8694</p>
                                <span>If you call the Customer Support number from an unregistered mobile number, you need to use the mobile number registered with Dreamland and the IVR security code to access your bookings.
                                    <br>
                                    <br>
                                    For example, if your registered mobile number is 9812345678 and your IVR security code is 1234, you will be asked to enter the registered mobile number 9812345678 and IVR Security Code 1234
                                </span>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>ASSIGNED RELATIONSHIP MANAGER</p>
                            </div>
                            <div class="right-details">
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>ASSIGNED RELATIONSHIP MANAGER</p>
                            </div>
                            <div class="right-details">
                                <p>9876543210</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>RELATIONSHIP MANAGER E-MAIL</p>
                            </div>
                            <div class="right-details">
                                <p>Loremipsum@gmail.com</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details">
                                <p>REGIONAL MANAGER</p>
                            </div>
                            <div class="right-details">
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                        <div class="details">
                            <div class="left-details" id="left-details">
                                <p>REGIONAL MANAGER E-MAIL</p>
                            </div>
                            <div class="right-details">
                                <P>Loremipsum@gmail.com</P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

